{
  "swagger": "2.0",
  "info": {
    "version": "v3",
    "title": "HackerRank for Work",
    "description": "Documentation for the API of HackerRank for Work.",
    "termsOfService": "https://www.hackerrank.com/work/tos",
    "contact": {
      "name": "HackerRank for Work API Team",
      "url": "https://www.hackerrank.com/contactus",
      "email": "support@hackerrank.com"
    },
    "license": {
      "name": "MIT"
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "access_token",
      "in": "query"
    }
  },
  "host": "www.hackerrank.com",
  "basePath": "",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/intro_api": {
      "options": {
        "summary": "API",
        "description": "The HackerRank for Work API is organized around <a href='http://en.wikipedia.org/wiki/Representational_State_Transfer'>REST</a>. Our API has predictable, resource-oriented URLs, and uses HTTP response codes to indicate API errors. We use built-in HTTP features, like HTTP authentication and HTTP verbs, which are understood by off-the-shelf HTTP clients. We support <a href='http://en.wikipedia.org/wiki/Cross-origin_resource_sharing'>cross-origin resource sharing</a>, allowing you to interact securely with our API from a client-side web application (though you should never expose your secret API key in any public website's client-side code). <a href='http://www.json.org/'>JSON</a> is returned by all API responses, including errors.",
        "tags": [
          "Introduction"
        ]
      }
    },
    "/intro_requests": {
      "options": {
        "summary": "Resources",
        "description": "<p>Any tool that is fluent in HTTP can communicate with the API simply by requesting the correct URI. Requests should be made using the HTTPS protocol so that traffic is encrypted. The interface responds to different methods depending on the action required.</p>\n<table class=\"pure-table pure-table-horizontal\">\n<thead>\n<tr>\n<th>Method</th>\n<th>Usage</th>\n</tr>\n</thead>\n<tbody>\n<tr>\n<td>GET</td>\n<td>\n<p>For simple retrieval of information about a resource (user, team, etc) you should use the <strong>GET</strong> method. The information you request will be returned to you as a JSON object.</p>\n\n<p>The attributes defined by the JSON object can be used to form additional requests. Any request using the GET method is read-only and will not affect any of the objects you are querying.</p>\n</td>\n</tr>\n<tr>\n<td>DELETE</td>\n<td>\n<p>To destroy a resource and remove it from your account and environment, the <strong>DELETE</strong> method should be used. This will remove the specified object if it is found. If it is not found, the operation will return a response indicating that the object was not found.</p>\n\n<p>This <a href=\"http://en.wikipedia.org/wiki/Idempotent#Computer_science_meaning\">idempotency</a> means that you do not have to check for a resource's availability prior to issuing a delete command, the final state will be the same regardless of its existence.</p>\n</td>\n</tr>\n<tr>\n<td>PUT</td>\n<td>\n<p>To update the information about a resource in your account, the <strong>PUT</strong> method is available.</p>\n\n<p>Like the DELETE Method, the PUT method is idempotent. It sets the state of the target using the provided values, regardless of their current values. Requests using the PUT method do not need to check the current attributes of the object.</p>\n</td>\n</tr>\n<tr>\n<td>POST</td>\n<td>\n<p>To create a new object, your request should specify the <strong>POST</strong> method.</p>\n\n<p>The POST request must include all of the attributes necessary to create a new object. When you wish to create a new object, send a POST request to the resource endpoint.</p>\n</td>\n</tr>\n<tr>\n<td>OPTIONS</td>\n<td>\n<p>Finally, to retrieve header information, you should use the <strong>OPTIONS</strong> method to get the headers. This returns only the header of what would be returned with an associated GET request.</p>\n\n<p>Response headers contain some useful information about your API access and the results that are available for your request.</p>\n\n<p>For instance, the headers contain your current rate-limit value and the amount of time available until the limit resets. It also contains metrics about the total number of objects found, pagination information, and the total content length.</p>\n</td>\n</tr>\n</tbody>\n</table>\n <p> ** In any of the resources, non mandatory new fields can be added without any prior intimation. Please make sure that your implementation which uses this API do not fails in such a case. ** ",
        "tags": [
          "Introduction"
        ]
      }
    },
    "/intro_http_statuses": {
      "options": {
        "summary": "HTTP Statuses",
        "description": "<p>Along with the HTTP methods that the API responds to, it will also return standard HTTP statuses, including error codes. </p><p>In the event of a problem, the status will contain the error code, while the body of the response will usually contain additional information about the problem that was encountered.</p>\n\n<table class='pure-table pure-table-horizontal'><thead><tr><th>Code Range</th><th>Description</th></tr></thead><tr><td>2xx</td><td>This range of response code indicates that request was fulfilled successfully and no error was encountered.</td></tr><tr><td>400</td><td>This return code indicates that there was an error in fulfilling the request because the syntax of URL was incorrect. The detail of the error will present in the body of response. Please do not repeat this request without modification</td></tr><tr><td>401</td><td>This return code means that we are not able to authenticate your request. Please make sure that a correct access token is provided in the request in the appropriate format. </td></tr><tr><td>403</td><td>This error code indicates that the user identified by the access token does not have permission to perform the requested action. If your account is locked, response code will always be 403. </td></tr><tr><td>404</td><td>This response indicates that the resource you are trying to access does not exists. \n \n Please note that this error will also be returned when the resource exists but belongs to a different account than is indicated by the access code.</td></tr><tr><td>422</td><td>This error code indicate that while the syntax was correct, request cannot be fulfilled because there was an issue in processing request body. An example of this could be getting inviting a candidate to a test for which they are already invited. More details about the error code can be found in the response body.</td></tr><tr><td>429</td><td>This response code indicates that you have exceeded rate limit for using the API.</td></tr><tr><td>5xx</td><td>This response code indicates that there was an internal server error while processing the request. We are automatically notified of these errors, however if you are seeing these for extended amount of time, then please report to <a href='mailto:support@hackerrank.com'>support@hackerrank.com</a></td></tr></table>\n\n",
        "tags": [
          "Introduction"
        ]
      }
    },
    "/intro_authentication": {
      "options": {
        "summary": "Authentication",
        "description": "Authenticate API requests by including your secret API key with each request. You can create and manage API keys from the <a href=\"https://hackerrank.com/work/settings/token\">Settings</a> page. Your API keys grant access to privileged actions, so keep them secure.\n\n<b>Do not share secret API keys in publicly accessible locations, including GitHub, client-side code, browser-based applications, mobile apps, logs, or public documentation.</b>\n\nThe API uses <a href=\"http://en.wikipedia.org/wiki/Basic_access_authentication\">HTTP Basic Authentication</a>. Provide your API key as the basic auth username. A password is not required <code class=\" language-undefined\">-u hackerrank_api_key:</code>\n\nYou may also authenticate using bearer authentication by passing your API key in the Authorization header <code class=\" language-undefined\">-H \"Authorization: Bearer hackerrank_api_key\"</code>\n\nAll API requests must be made over <a href=\"http://en.wikipedia.org/wiki/HTTP_Secure\">HTTPS</a>. Requests sent over plain HTTP will fail. Requests without valid authentication will also fail.",
        "tags": [
          "Introduction"
        ]
      }
    },
    "/x/api/v3/{resource_name}/{resource_id}?fields={fields}": {
      "options": {
        "summary": "Partial Response",
        "description": "By default, the server sends back the default representation of a resource after processing requests. For better performance and saving bandwidth, you can ask the server to send only the fields you really need and get a partial response instead.\n\nTo request a partial response, use the <code>fields</code> request parameter to specify the fields you want returned. You can use this parameter with any request that returns response data.\n\nFor example, <code>/users?fields=id,email</code> will fetch only the id and email of users.\n\n",
        "tags": [
          "Introduction"
        ]
      }
    },
    "/x/api/v3/{resource_name}/{resource_id}?fields={additional_fields}": {
      "options": {
        "summary": "Additional Response",
        "description": "<p>Many resources also have various additional attributes that will not be the part of the basic response. To query them you have to specify those attributes in fields query. </p><p>You can provide a comma separated list of the all the fields you want to query, including the basic fields as well as the additional fields</p><p>All the additional fields that are available for the resources will be documented in the resource page.</p>",
        "tags": [
          "Introduction"
        ]
      }
    },
    "/x/api/v3/{resource_name}/{resource_id}?expand={expand}": {
      "options": {
        "summary": "Expanding Objects",
        "description": "<p>\n Many objects contain the ID of a related object in their response properties. For example, a <code class=\" language-undefined\">Test</code> may have an associated <code class=\" language-undefined\">User</code> ID. Those objects can be expanded inline with the <code class=\" language-undefined\">expand</code> request parameter. Objects that can be expanded will be tagged as ** [Expandable] ** in this documentation. This parameter is available on all API requests, and applies to the response of that request only.\n </p>\n <p> You can expand multiple objects at once by identifying multiple items in the <code class=\" language-undefined\">expand</code> array.\n </p>\n\n All the attributes that can be expanded will be tagged as <code>expandable</code>\n<p>Nesting object expanding is not allowed.</p>",
        "tags": [
          "Introduction"
        ]
      }
    },
    "/x/api/v3/resource_name": {
      "options": {
        "summary": "Bulk Fetch",
        "description": "<p>\n Most API resources have support for bulk fetches.\n <p> ** All bulk fetch calls also support Partial response, additional response and expanding objects. **",
        "tags": [
          "Introduction"
        ]
      }
    },
    "/x/api/v3/{resource_name}?offset={offset}&limit={limit}": {
      "options": {
        "summary": "Pagination",
        "description": "All bulk fetch responses are paginated. Paginated requests share a common structure, taking at least these two parameters: <code class=\" language-undefined\">offset</code> and <code class=\" language-undefined\">limit</code>.\n The default value for offset is 0 and default value for limit is 10.</p>\n <p> The pagination info is included in the response body. It is important to follow link values that are returned instead of constructing your own URLs.</p> \n \n <p>** If not provided, then the value of `limit` will be assumed as `10` ** </p>\n \n <p> ** Please note than maximum value of `limit` can be `100` ** </p>",
        "tags": [
          "Introduction"
        ]
      }
    },
    "/x/api/v3/{resource_name}?offset={offset}&limit={limit}&sort={sort}": {
      "options": {
        "summary": "Sorting",
        "description": "<p>In bulk fetch calls, sorting is also supported for some attributes in the resource. To query sorted items, you can provide comma separated list of fields by which you the want result to be sorted. </p><p>By default the order of sorting is `DESC`. However if you want to sort in ascending order for a particular field, you can prepend a `-` sign in that field.</p><p>** Please note that not all attributes support sorting, the attributes that will support sorting will be marked as such in the documentation **</p>",
        "tags": [
          "Introduction"
        ]
      }
    },
    "/x/api/v3/{resource_name}?offset={offset}&limit={limit}&{filter1}={filter1_value}&{filter2}={filter2_value}": {
      "options": {
        "summary": "Filtering",
        "description": "<p>Similar to sorting, bulk fetch calls also support filtering. To implement a filter in a request, just provide the attribute name and its value you want to filter as a query parameter</p><p>**Not all attributes support filter, attributes supporting filter will be marked as such.**</p><p>Filters are applied differently depending upon the data type:</p><table class='pure-table pure-table-horizontal'><thead><tr><td>Datatype</td><td>Description</td><td>Example</td></tr></thead><tr><td>DateTime</td><td>Filters on datetime are applied in form of `from..to`. Both `from` and `to` are in form of `YYYY-MM-DDThh:mm:ssÂ±zzz` where `zzz` is offset form UTC timezone in form of `hh:mm` including a leading zero for single digit hour value. All time values are 24 hour format</td><td><code>GET: /resource?created_at=2016-12-24T09:00:00-08:00..2016-12-28T13:30:00-08:00</code></td></tr><tr><td>String</td><td>Attributes with string datatype only support exact match filter. Partial match and regex/wildcard match is not supported. </td><td><code>GET /resource?email=abc@example.com</code></td></tr><tr><td>Integer</td><td>Integer datatype support both exact match filter and `from..to` notation</td><td><code>GET /resource?state=1..7</code><br><code>GET /resource?state=5</code></td></tr><tr><td>Boolean</td><td>Boolean datatype filters support exact match which can be `true`, `false` or `null`</td><td><code>GET /resource?valid=true</code></td></tr></table>",
        "tags": [
          "Introduction"
        ]
      }
    },
    "/users": {
      "options": {
        "summary": "User object",
        "description": "User object represents the members of your team who have a valid HackerRank for Work account. The API allows you to create, delete and update your users. You can retrieve individual users as well as a list of all the users in your company. <p>Permission can be applied on <code>candidates</code>, <code>interviews</code>, <code>questions</code> and <code>tests</code> separately. </p><p>Value for the permission will mean following: </p><table class=\"pure-table pure-table-horizontal\"><thead><tr><td>Permission Value</td><td>Access level</td></tr></thead><tr><td>0</td><td>User cannot access the resource</td></tr><tr><td>1</td><td>User has read access for this resources</td></tr><tr><td>2</td><td>User has read and write access for this resource</td></tr><tr><td>3</td><td>User has read, write and delete access for this resource</td></tr></table><p>Default permissions for each role are: </p><table class=\"pure-table pure-table-horizontal\"><thead><tr><td>Role</td><td>Permissions</td></tr></thead><tr><td>Recruiter</td><td>Level 3 permission for all resources</td></tr><tr><td>Developer</td><td>Level 3 permission for all resources</td></tr><tr><td>Interviewer</td><td>Level 3 permission for questions and interviews. 0 for rest</td></tr></table>",
        "tags": [
          "Users"
        ],
        "responses": {
          "description": {
            "schema": {
              "$ref": "#/definitions/UserRef"
            }
          }
        }
      }
    },
    "/x/api/v3/users": {
      "post": {
        "summary": "Create user",
        "description": "Create a new user object.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserCreate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "user response",
            "schema": {
              "$ref": "#/definitions/UserShow"
            }
          }
        }
      }
    },
    "/x/api/v3/users?limit={limit}&offset={offset}": {
      "get": {
        "summary": "List all users",
        "description": "Returns the list of your users.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "path",
            "default": 10,
            "type": "integer",
            "description": "Number of records to fetch"
          },
          {
            "name": "offset",
            "in": "path",
            "default": 0,
            "type": "integer",
            "description": "Offset of records"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "properties": {
                "data": {
                  "type": "array",
                  "description": "List of requested users",
                  "items": {
                    "$ref": "#/definitions/UserIndex"
                  }
                },
                "page_total": {
                  "default": 1,
                  "type": "integer",
                  "description": "Count of total users in current page"
                },
                "offset": {
                  "default": 0,
                  "type": "integer",
                  "description": "Offset in current page"
                },
                "previous": {
                  "default": "",
                  "type": "string",
                  "description": "URL for previous page. This will be empty when current page is first page"
                },
                "next": {
                  "default": "https://www.hackerrank.com/x/api/v3/users?limit=1&offset=1",
                  "type": "string",
                  "description": "URL for next page. This will be empty when current page is last page"
                },
                "first": {
                  "default": "https://www.hackerrank.com/x/api/v3/users?limit=1&offset=0",
                  "type": "string",
                  "description": "URL for first page."
                },
                "last": {
                  "default": "https://www.hackerrank.com/x/api/v3/users?limit=1&offset=12",
                  "type": "string",
                  "description": "URL for last page."
                },
                "total": {
                  "default": 13,
                  "type": "string",
                  "description": "Total items for current query"
                }
              },
              "required": [
                "data",
                "page_total",
                "offset",
                "previous",
                "next",
                "first",
                "last",
                "total"
              ]
            }
          }
        }
      }
    },
    "/x/api/v3/users/{id}": {
      "get": {
        "summary": "Retrieve user",
        "description": "Retrieves the details of an existing user. You need only supply the unique customer identifier that was returned upon user creation.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "description": "ID of user to retrieve",
            "schema": {
              "$ref": "#/definitions/UserShow"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "user response",
            "schema": {
              "$ref": "#/definitions/UserShow"
            }
          }
        }
      },
      "put": {
        "summary": "Update user",
        "description": "Updates the specified user by setting the values of the parameters passed. Any parameters not provided will be left unchanged. This request accepts mostly the same arguments as the user creation call.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "description": "ID of user to update"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserUpdate"
            }
          }
        ]
      },
      "delete": {
        "summary": "Lock user",
        "description": "Lock a user. This will also remove user from all the team that they are currently part of.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "description": "ID of user to lock"
          }
        ],
        "responses": {
          "204": {
            "description": "User locked"
          }
        }
      }
    },
    "/x/api/v3/users/search?search={search_string}&limit={limit}&offset={offset}": {
      "get": {
        "summary": "Search users",
        "description": "",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "search_string",
            "in": "path",
            "description": "Name or email",
            "required": true
          },
          {
            "name": "limit",
            "in": "path",
            "default": 10,
            "type": "integer",
            "description": "Number of records to fetch"
          },
          {
            "name": "offset",
            "in": "path",
            "default": 0,
            "type": "integer",
            "description": "Offset of records"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "properties": {
                "data": {
                  "type": "array",
                  "description": "List of requested users",
                  "items": {
                    "$ref": "#/definitions/UserIndex"
                  }
                },
                "page_total": {
                  "default": 1,
                  "type": "integer",
                  "description": "Count of total users in current page"
                },
                "offset": {
                  "default": 0,
                  "type": "integer",
                  "description": "Offset in current page"
                },
                "previous": {
                  "default": "",
                  "type": "string",
                  "description": "URL for previous page. This will be empty when current page is first page"
                },
                "next": {
                  "default": "https://www.hackerrank.com/x/api/v3/users?limit=1&offset=1",
                  "type": "string",
                  "description": "URL for next page. This will be empty when current page is last page"
                },
                "first": {
                  "default": "https://www.hackerrank.com/x/api/v3/users?limit=1&offset=0",
                  "type": "string",
                  "description": "URL for first page."
                },
                "last": {
                  "default": "https://www.hackerrank.com/x/api/v3/users?limit=1&offset=12",
                  "type": "string",
                  "description": "URL for last page."
                },
                "total": {
                  "default": 13,
                  "type": "string",
                  "description": "Total items for current query"
                }
              },
              "required": [
                "data",
                "page_total",
                "offset",
                "previous",
                "next",
                "first",
                "last",
                "total"
              ]
            }
          }
        }
      }
    },
    "/teams": {
      "options": {
        "summary": "Team object",
        "description": "You can manage teams in your company account using this API. Use teams to group users based on access control and permission groups.",
        "tags": [
          "Teams"
        ],
        "responses": {
          "description": {
            "schema": {
              "$ref": "#/definitions/TeamRef"
            }
          }
        }
      }
    },
    "/x/api/v3/teams": {
      "post": {
        "summary": "Create team",
        "description": "",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TeamCreate"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/TeamShow"
            }
          }
        }
      }
    },
    "/x/api/v3/teams?limit={limit}&offset={offset}": {
      "get": {
        "summary": "List all teams",
        "description": "",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "path",
            "default": 10,
            "type": "integer",
            "description": "Number of records to fetch"
          },
          {
            "name": "offset",
            "in": "path",
            "default": 0,
            "type": "integer",
            "description": "Offset of records"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "properties": {
                "data": {
                  "type": "array",
                  "description": "List of requested teams",
                  "items": {
                    "$ref": "#/definitions/TeamIndex"
                  }
                },
                "page_total": {
                  "default": 1,
                  "type": "integer",
                  "description": "Count of total teams in current page"
                },
                "offset": {
                  "default": 0,
                  "type": "integer",
                  "description": "Offset in current page"
                },
                "previous": {
                  "default": "",
                  "type": "string",
                  "description": "URL for previous page. This will be empty when current page is first page"
                },
                "next": {
                  "default": "https://www.hackerrank.com/x/api/v3/teams?limit=1&offset=1",
                  "type": "string",
                  "description": "URL for next page. This will be empty when current page is last page"
                },
                "first": {
                  "default": "https://www.hackerrank.com/x/api/v3/teams?limit=1&offset=0",
                  "type": "string",
                  "description": "URL for first page."
                },
                "last": {
                  "default": "https://www.hackerrank.com/x/api/v3/teams?limit=1&offset=12",
                  "type": "string",
                  "description": "URL for last page."
                },
                "total": {
                  "default": 13,
                  "type": "string",
                  "description": "Total items for current query"
                }
              },
              "required": [
                "data",
                "page_total",
                "offset",
                "previous",
                "next",
                "first",
                "last",
                "total"
              ]
            }
          }
        }
      }
    },
    "/x/api/v3/teams/{id}": {
      "get": {
        "summary": "Retrieve team",
        "description": "",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the team to retrieve"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "description": "Team response",
              "$ref": "#/definitions/TeamShow"
            }
          }
        }
      },
      "put": {
        "summary": "Update team",
        "description": "",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the team to update"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TeamUpdate"
            }
          }
        ]
      },
      "delete": {
        "summary": "Deletes team",
        "description": "Deletes an empty team",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the team to delete"
          }
        ]
      }
    },
    "/x/api/v3/teams/{team_id}/users?limit={limit}&offset={offset}": {
      "get": {
        "summary": "List all memberships",
        "description": "",
        "tags": [
          "UserMembership"
        ],
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "description": "ID of the team to retrieve"
          },
          {
            "name": "limit",
            "in": "path",
            "default": 10,
            "type": "integer",
            "description": "Number of records to fetch"
          },
          {
            "name": "offset",
            "in": "path",
            "default": 0,
            "type": "integer",
            "description": "Offset of records"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "properties": {
                "data": {
                  "type": "array",
                  "description": "List of requested users",
                  "items": {
                    "$ref": "#/definitions/UserTeamMembershipIndex"
                  }
                },
                "page_total": {
                  "default": 1,
                  "type": "integer",
                  "description": "Count of total users in current page"
                },
                "offset": {
                  "default": 0,
                  "type": "integer",
                  "description": "Offset in current page"
                },
                "previous": {
                  "default": "",
                  "type": "string",
                  "description": "URL for previous page. This will be empty when current page is first page"
                },
                "next": {
                  "default": "https://www.hackerrank.com/x/api/v3/teams/1/users?limit=1&offset=1",
                  "type": "string",
                  "description": "URL for next page. This will be empty when current page is last page"
                },
                "first": {
                  "default": "https://www.hackerrank.com/x/api/v3/teams/1/users?limit=1&offset=0",
                  "type": "string",
                  "description": "URL for first page."
                },
                "last": {
                  "default": "https://www.hackerrank.com/x/api/v3/teams/1/users?limit=1&offset=12",
                  "type": "string",
                  "description": "URL for last page."
                },
                "total": {
                  "default": 13,
                  "type": "string",
                  "description": "Total items for current query"
                }
              },
              "required": [
                "data",
                "page_total",
                "offset",
                "previous",
                "next",
                "first",
                "last",
                "total"
              ]
            }
          }
        }
      }
    },
    "/x/api/v3/teams/{team_id}/users/{user_id}?license={license}": {
      "post": {
        "summary": "Create membership",
        "description": "",
        "tags": [
          "UserMembership"
        ],
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "description": "ID of the team"
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "ID of the user"
          },
          {
            "name": "license",
            "in": "path",
            "description": "License with which locked user gets unlocked. Pass this only if the user is locked. License can be recruiter, developer or interviewer"
          }
        ]
      }
    },
    "/x/api/v3/teams/{team_id}/users/{user_id}": {
      "get": {
        "summary": "Retrieve membership",
        "description": "",
        "tags": [
          "UserMembership"
        ],
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "description": "ID of the team"
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "ID of the user"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "description": "User membership response",
              "$ref": "#/definitions/UserTeamMembershipShow"
            }
          }
        }
      },
      "delete": {
        "summary": "Removes membership",
        "description": "",
        "tags": [
          "UserMembership"
        ],
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "description": "ID of the team"
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "ID of the user"
          }
        ],
        "responses": {
          "204": {
            "description": "User team membership removed"
          }
        }
      }
    },
    "/tests": {
      "options": {
        "summary": "Test object",
        "tags": [
          "Tests"
        ],
        "description": "API allows you to perform CRUD actions on tests resource for your account. As of now, manupulation of questions is not supported in tests API.",
        "responses": {
          "description": {
            "schema": {
              "$ref": "#/definitions/TestsRef"
            }
          }
        }
      }
    },
    "/x/api/v3/tests?limit={limit}&offset={offset}": {
      "get": {
        "summary": "List all tests",
        "description": "",
        "tags": [
          "Tests"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "path",
            "default": 10,
            "type": "integer",
            "description": "Number of records to fetch"
          },
          {
            "name": "offset",
            "in": "path",
            "default": 0,
            "type": "integer",
            "description": "Offset of records"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "properties": {
                "data": {
                  "type": "array",
                  "description": "List of requested tests",
                  "items": {
                    "$ref": "#/definitions/TestsIndex"
                  }
                },
                "page_total": {
                  "default": 1,
                  "type": "integer",
                  "description": "Count of total tests in current page"
                },
                "offset": {
                  "default": 0,
                  "type": "integer",
                  "description": "Offset in current page"
                },
                "previous": {
                  "default": "",
                  "type": "string",
                  "description": "URL for previous page. This will be empty when current page is first page"
                },
                "next": {
                  "default": "https://www.hackerrank.com/x/api/v3/tests?limit=1&offset=1",
                  "type": "string",
                  "description": "URL for next page. This will be empty when current page is last page"
                },
                "first": {
                  "default": "https://www.hackerrank.com/x/api/v3/tests?limit=1&offset=0",
                  "type": "string",
                  "description": "URL for first page."
                },
                "last": {
                  "default": "https://www.hackerrank.com/x/api/v3/tests?limit=1&offset=12",
                  "type": "string",
                  "description": "URL for last page."
                },
                "total": {
                  "default": 13,
                  "type": "string",
                  "description": "Total items for current query"
                }
              },
              "required": [
                "data",
                "page_total",
                "offset",
                "previous",
                "next",
                "first",
                "last",
                "total"
              ]
            }
          }
        }
      }
    },
    "/x/api/v3/tests": {
      "post": {
        "summary": "Create test",
        "description": "",
        "tags": [
          "Tests"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestsCreate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Test response",
            "schema": {
              "$ref": "#/definitions/TestsShow"
            }
          }
        }
      }
    },
    "/x/api/v3/tests/{id}?additional_fields={additional_fields}": {
      "get": {
        "summary": "Retrieve test",
        "description": "",
        "tags": [
          "Tests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Test"
          },
          {
            "name": "additional_fields",
            "in": "path",
            "description": "Supported test fields to get detailed info on those fields (Comma separated field names). \nFollowing fields are supported:\n\n languages, candidate_details, custom_acknowledge_text, cutoff_score, cutoff_score_percentage, candidate_max_score, master_password, hide_compile_test, mcq_incorrect_score, mcq_correct_score, locked_by, secure, short_login_url, public_login_url, shuffle_questions, test_admins, hide_template, enable_acknowledgement, experience, job_roles, invited, in_progress, to_evaluate, qualified, failed, completed, questions_count, predefined, draft, ddna_star_rating_enabled, ats_id, ats_job, ats_perform_as, block_publish, blocked_by_library_access, max_score, public_url, role_ids, enable_proctoring, candidate_tab_switch, track_editor_paste, parent_id, hr_certified, disable_leakage_protection, ai_proctor_frozen_flag, enable_ai_proctor, enable_live_face_detection, enable_candidate_screenshare, enable_hackerrank_app, enable_ai_evaluation, enable_ai_assisted_test, updated_at, sections_data",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/TestsShow"
            }
          }
        }
      }
    },
    "/x/api/v3/tests/{id}": {
      "put": {
        "summary": "Update test",
        "description": "",
        "tags": [
          "Tests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Test"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestsUpdate"
            }
          }
        ]
      },
      "delete": {
        "summary": "Deletes test",
        "description": "",
        "tags": [
          "Tests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the test"
          }
        ],
        "responses": {
          "204": {
            "description": "Test Deleted"
          }
        }
      }
    },
    "/x/api/v3/tests/{id}/archive": {
      "post": {
        "summary": "Archives test",
        "description": "",
        "tags": [
          "Tests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the test"
          }
        ],
        "responses": {
          "204": {
            "description": "Test Archived"
          }
        }
      }
    },
    "/x/api/v3/tests/{id}/inviters": {
      "get": {
        "summary": "List all inviters for a test",
        "description": "",
        "tags": [
          "Tests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the test"
          },
          {
            "name": "limit",
            "in": "path",
            "default": 10,
            "type": "integer",
            "description": "Number of records to fetch"
          },
          {
            "name": "offset",
            "in": "path",
            "default": 0,
            "type": "integer",
            "description": "Offset of records"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "properties": {
                "data": {
                  "type": "array",
                  "description": "List of requested users",
                  "items": {
                    "$ref": "#/definitions/InvitersIndex"
                  }
                },
                "page_total": {
                  "default": 1,
                  "type": "integer",
                  "description": "Count of total users in current page"
                },
                "offset": {
                  "default": 0,
                  "type": "integer",
                  "description": "Offset in current page"
                },
                "previous": {
                  "default": "",
                  "type": "string",
                  "description": "URL for previous page. This will be empty when current page is first page"
                },
                "next": {
                  "default": "https://www.hackerrank.com/x/api/v3/users?limit=1&offset=1",
                  "type": "string",
                  "description": "URL for next page. This will be empty when current page is last page"
                },
                "first": {
                  "default": "https://www.hackerrank.com/x/api/v3/users?limit=1&offset=0",
                  "type": "string",
                  "description": "URL for first page."
                },
                "last": {
                  "default": "https://www.hackerrank.com/x/api/v3/users?limit=1&offset=12",
                  "type": "string",
                  "description": "URL for last page."
                },
                "total": {
                  "default": 13,
                  "type": "string",
                  "description": "Total items for current query"
                }
              },
              "required": [
                "data",
                "page_total",
                "offset",
                "previous",
                "next",
                "first",
                "last",
                "total"
              ]
            }
          }
        }
      }
    },
    "/candidates": {
      "options": {
        "summary": "Test Candidate object",
        "description": "This object represents candidate that are invited or have attempted a test (or both). As such, a candidate object always exists in context of test.",
        "tags": [
          "TestCandidate"
        ],
        "responses": {
          "description": {
            "schema": {
              "$ref": "#/definitions/TestCandidateRef"
            }
          }
        }
      }
    },
    "/x/api/v3/candidates/search": {
      "get": {
        "summary": "Search candidates",
        "description": "Searches candidates by name or email and returns accessible test attempt results for each matching candidate. Pagination is applied to candidate matches.",
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Candidate name or email search query",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "default": 10,
            "type": "integer",
            "description": "Number of records to fetch"
          },
          {
            "name": "offset",
            "in": "query",
            "default": 0,
            "type": "integer",
            "description": "Offset of records"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "properties": {
                "data": {
                  "type": "array",
                  "description": "List of requested search",
                  "items": {
                    "$ref": "#/definitions/CandidateSearchResult"
                  }
                },
                "page_total": {
                  "default": 1,
                  "type": "integer",
                  "description": "Count of total search in current page"
                },
                "offset": {
                  "default": 0,
                  "type": "integer",
                  "description": "Offset in current page"
                },
                "previous": {
                  "default": "",
                  "type": "string",
                  "description": "URL for previous page. This will be empty when current page is first page"
                },
                "next": {
                  "default": "https://www.hackerrank.com/x/api/v3/candidates/search?limit=1&offset=1",
                  "type": "string",
                  "description": "URL for next page. This will be empty when current page is last page"
                },
                "first": {
                  "default": "https://www.hackerrank.com/x/api/v3/candidates/search?limit=1&offset=0",
                  "type": "string",
                  "description": "URL for first page."
                },
                "last": {
                  "default": "https://www.hackerrank.com/x/api/v3/candidates/search?limit=1&offset=12",
                  "type": "string",
                  "description": "URL for last page."
                },
                "total": {
                  "default": 13,
                  "type": "string",
                  "description": "Total items for current query"
                },
                "query": {
                  "type": "string",
                  "description": "Search term used for the request"
                }
              },
              "required": [
                "data",
                "page_total",
                "offset",
                "previous",
                "next",
                "first",
                "last",
                "total"
              ]
            }
          }
        }
      }
    },
    "/x/api/v3/tests/{test_id}/candidates?limit={limit}&offset={offset}": {
      "get": {
        "summary": "List all candidates",
        "description": "",
        "tags": [
          "TestCandidate"
        ],
        "parameters": [
          {
            "name": "test_id",
            "in": "path",
            "description": "ID of the test",
            "required": true
          },
          {
            "name": "limit",
            "in": "path",
            "default": 10,
            "type": "integer",
            "description": "Number of records to fetch"
          },
          {
            "name": "offset",
            "in": "path",
            "default": 0,
            "type": "integer",
            "description": "Offset of records"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "properties": {
                "data": {
                  "type": "array",
                  "description": "List of requested candidates",
                  "items": {
                    "$ref": "#/definitions/TestCandidateIndex"
                  }
                },
                "page_total": {
                  "default": 1,
                  "type": "integer",
                  "description": "Count of total candidates in current page"
                },
                "offset": {
                  "default": 0,
                  "type": "integer",
                  "description": "Offset in current page"
                },
                "previous": {
                  "default": "",
                  "type": "string",
                  "description": "URL for previous page. This will be empty when current page is first page"
                },
                "next": {
                  "default": "https://www.hackerrank.com/x/api/v3/tests/1/candidates?limit=1&offset=1",
                  "type": "string",
                  "description": "URL for next page. This will be empty when current page is last page"
                },
                "first": {
                  "default": "https://www.hackerrank.com/x/api/v3/tests/1/candidates?limit=1&offset=0",
                  "type": "string",
                  "description": "URL for first page."
                },
                "last": {
                  "default": "https://www.hackerrank.com/x/api/v3/tests/1/candidates?limit=1&offset=12",
                  "type": "string",
                  "description": "URL for last page."
                },
                "total": {
                  "default": 13,
                  "type": "string",
                  "description": "Total items for current query"
                }
              },
              "required": [
                "data",
                "page_total",
                "offset",
                "previous",
                "next",
                "first",
                "last",
                "total"
              ]
            }
          }
        }
      }
    },
    "/x/api/v3/tests/{test_id}/candidates": {
      "post": {
        "summary": "Invite candidate",
        "description": "Invites a single candidate to the test. Note: Multiple invitations are not supported through this endpoint.",
        "tags": [
          "TestCandidate"
        ],
        "parameters": [
          {
            "name": "test_id",
            "in": "path",
            "description": "ID of the test",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestCandidateCreate"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "required": [
                "test_link",
                "email",
                "id"
              ],
              "properties": {
                "test_link": {
                  "type": "string",
                  "default": "https://www.hackerrank.com/tests/bdsiod7sd22/login?b=efJ1c2VybmFtZSI6ImRhbm55LnBldGVyc29uQGhff2tlcnJhbmsuY19tIiwidGFzc3dvcmQiOiI0ZTQ4OWJjNSIsImhpZGUiOnRydWV9",
                  "description": "A link sent to the candidate where they can attempt the test."
                },
                "email": {
                  "type": "string",
                  "default": "alice.wonders@email.com",
                  "description": "Email address of the candidate."
                },
                "id": {
                  "type": "integer",
                  "default": "10000",
                  "description": "ID of the test candidate."
                }
              }
            }
          }
        }
      }
    },
    "/x/api/v3/tests/{test_id}/candidates/{candidate_id}?additional_fields={additional_fields}": {
      "get": {
        "summary": "Show candidate",
        "description": "",
        "tags": [
          "TestCandidate"
        ],
        "parameters": [
          {
            "name": "test_id",
            "in": "path",
            "description": "ID of the test",
            "required": true
          },
          {
            "name": "candidate_id",
            "in": "path",
            "description": "ID of the candidate",
            "required": true
          },
          {
            "name": "additional_fields",
            "in": "path",
            "description": "Supported test candidate fields to get detailed info on those fields (Comma separated field names). For eg: 'questions,scores_sections_split'. This is used to get detailed information on the supported test candidate fields. Some supported fields are : 'questions' to get score details on each question, 'scores_sections_split' to get info on each test section, 'user' to get user details, 'test' to get test details, etc",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/TestCandidateShow"
            }
          }
        }
      }
    },
    "/x/api/v3/tests/{test_id}/candidates/{candidate_id}": {
      "put": {
        "summary": "Update candidate",
        "description": "",
        "tags": [
          "TestCandidate"
        ],
        "parameters": [
          {
            "name": "test_id",
            "in": "path",
            "description": "ID of the test",
            "required": true
          },
          {
            "name": "candidate_id",
            "in": "path",
            "description": "ID of the candidate",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestCandidateUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/TestCandidateShow"
            }
          }
        }
      }
    },
    "/x/api/v3/tests/{test_id}/candidates/{candidate_id}/pdf?format=url": {
      "get": {
        "summary": "Get report pdf",
        "description": "In case of a 503 HTTP Status, please try downloading the pdf after some time.",
        "tags": [
          "TestCandidate"
        ],
        "parameters": [
          {
            "name": "test_id",
            "in": "path",
            "description": "ID of the test",
            "required": true
          },
          {
            "name": "candidate_id",
            "in": "path",
            "description": "ID of the candidate",
            "required": true
          }
        ]
      }
    },
    "/x/api/v3/tests/{test_id}/candidates/{candidate_id}/report": {
      "delete": {
        "summary": "Delete report",
        "description": "",
        "tags": [
          "TestCandidate"
        ],
        "parameters": [
          {
            "name": "test_id",
            "in": "path",
            "description": "ID of the test",
            "required": true
          },
          {
            "name": "candidate_id",
            "in": "path",
            "description": "ID of the candidate",
            "required": true
          }
        ]
      }
    },
    "/x/api/v3/tests/{test_id}/candidates/{candidate_id}/invite": {
      "delete": {
        "summary": "Cancel invite",
        "description": "",
        "tags": [
          "TestCandidate"
        ],
        "parameters": [
          {
            "name": "test_id",
            "in": "path",
            "description": "ID of the test",
            "required": true
          },
          {
            "name": "candidate_id",
            "in": "path",
            "description": "ID of the candidate",
            "required": true
          }
        ]
      }
    },
    "/x/api/v3/tests/{test_id}/candidates/search?search={search}&limit={limit}&offset={offset}": {
      "get": {
        "summary": "Search candidates",
        "description": "",
        "tags": [
          "TestCandidate"
        ],
        "parameters": [
          {
            "name": "test_id",
            "in": "path",
            "description": "ID of the test",
            "required": true
          },
          {
            "name": "search",
            "in": "path",
            "description": "Name or email",
            "required": true
          },
          {
            "name": "limit",
            "in": "path",
            "default": 10,
            "type": "integer",
            "description": "Number of records to fetch"
          },
          {
            "name": "offset",
            "in": "path",
            "default": 0,
            "type": "integer",
            "description": "Offset of records"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "properties": {
                "data": {
                  "type": "array",
                  "description": "List of requested candidates",
                  "items": {
                    "$ref": "#/definitions/TestCandidateIndex"
                  }
                },
                "page_total": {
                  "default": 1,
                  "type": "integer",
                  "description": "Count of total candidates in current page"
                },
                "offset": {
                  "default": 0,
                  "type": "integer",
                  "description": "Offset in current page"
                },
                "previous": {
                  "default": "",
                  "type": "string",
                  "description": "URL for previous page. This will be empty when current page is first page"
                },
                "next": {
                  "default": "https://www.hackerrank.com/x/api/v3/tests/1/candidates?limit=1&offset=1",
                  "type": "string",
                  "description": "URL for next page. This will be empty when current page is last page"
                },
                "first": {
                  "default": "https://www.hackerrank.com/x/api/v3/tests/1/candidates?limit=1&offset=0",
                  "type": "string",
                  "description": "URL for first page."
                },
                "last": {
                  "default": "https://www.hackerrank.com/x/api/v3/tests/1/candidates?limit=1&offset=12",
                  "type": "string",
                  "description": "URL for last page."
                },
                "total": {
                  "default": 13,
                  "type": "string",
                  "description": "Total items for current query"
                }
              },
              "required": [
                "data",
                "page_total",
                "offset",
                "previous",
                "next",
                "first",
                "last",
                "total"
              ]
            }
          }
        }
      }
    },
    "/x/api/v3/interviews": {
      "get": {
        "summary": "List all interviews",
        "description": "Returns the list of your interviews",
        "tags": [
          "Interviews"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "path",
            "default": 10,
            "type": "integer",
            "description": "Number of records to fetch"
          },
          {
            "name": "offset",
            "in": "path",
            "default": 0,
            "type": "integer",
            "description": "Offset of records"
          },
          {
            "name": "created_at",
            "in": "query",
            "description": "It is the datetime when the interview was created. It needs to be passed in the form of \"from..to\". For example: 2024-01-21T13:36:21+0000..2024-01-22T00:00:00+0000. Both \"from\" and \"to\" are in form of YYYY-MM-DDThh:mm:ss±zzz where zzz is offset form UTC timezone in form of hh:mm including a leading zero for single digit hour value. All time values are 24 hour format",
            "required": false
          },
          {
            "name": "updated_at",
            "in": "query",
            "description": "It is the datetime when the interview was updated. It needs to be passed in the form of \"from..to\". For example: 2024-01-21T13:36:21+0000..2024-01-22T00:00:00+0000. Both \"from\" and \"to\" are in form of YYYY-MM-DDThh:mm:ss±zzz where zzz is offset form UTC timezone in form of hh:mm including a leading zero for single digit hour value. All time values are 24 hour format",
            "required": false
          },
          {
            "name": "ended_at",
            "in": "query",
            "description": "It is the datetime when the interview ended. It needs to be passed in the form of \"from..to\". For example: 2024-01-21T13:36:21+0000..2024-01-22T00:00:00+0000. Both \"from\" and \"to\" are in form of YYYY-MM-DDThh:mm:ss±zzz where zzz is offset form UTC timezone in form of hh:mm including a leading zero for single digit hour value. All time values are 24 hour format",
            "required": false
          },
          {
            "name": "user",
            "in": "query",
            "description": "Filter by ID of the user who created the interview",
            "required": false
          },
          {
            "name": "interviewers",
            "in": "query",
            "description": "Filter by ID of any one interviewer",
            "required": false
          },
          {
            "name": "access",
            "in": "query",
            "description": "Filter interviews based on access rights. It can have the following values:\n - owned\n - shared",
            "required": false
          },
          {
            "name": "current_status",
            "in": "query",
            "description": "Filters all interviews based on the current status of the interview.\n\n 0: New\n 1: Active\n 2: Ended\n 3: Paused",
            "required": false
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Sort the interviews in a specific order. It can have the following values:\n - title\n - id (ID of the interview)\n - created_at\n - ended_at\n - current_status\n - user",
            "required": false
          },
          {
            "name": "order_dir",
            "in": "query",
            "description": "Defines the direction of sorting. This parameter is required to be passed if you are using \"order_by\". It can have the following values:\n - asc: Ascending order\n - desc: Descending order",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "properties": {
                "data": {
                  "type": "array",
                  "description": "List of requested interviews",
                  "items": {
                    "$ref": "#/definitions/InterviewIndex"
                  }
                },
                "page_total": {
                  "default": 1,
                  "type": "integer",
                  "description": "Count of total interviews in current page"
                },
                "offset": {
                  "default": 0,
                  "type": "integer",
                  "description": "Offset in current page"
                },
                "previous": {
                  "default": "",
                  "type": "string",
                  "description": "URL for previous page. This will be empty when current page is first page"
                },
                "next": {
                  "default": "https://www.hackerrank.com/x/api/v3/interviews?limit=1&offset=1",
                  "type": "string",
                  "description": "URL for next page. This will be empty when current page is last page"
                },
                "first": {
                  "default": "https://www.hackerrank.com/x/api/v3/interviews?limit=1&offset=0",
                  "type": "string",
                  "description": "URL for first page."
                },
                "last": {
                  "default": "https://www.hackerrank.com/x/api/v3/interviews?limit=1&offset=12",
                  "type": "string",
                  "description": "URL for last page."
                },
                "total": {
                  "default": 13,
                  "type": "string",
                  "description": "Total items for current query"
                }
              },
              "required": [
                "data",
                "page_total",
                "offset",
                "previous",
                "next",
                "first",
                "last",
                "total"
              ]
            }
          }
        }
      },
      "post": {
        "summary": "Create interview",
        "description": "",
        "tags": [
          "Interviews"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InterviewCreate"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/InterviewShow"
            }
          }
        }
      }
    },
    "/x/api/v3/interviews/{interview_id}": {
      "get": {
        "summary": "Show interview",
        "description": "",
        "tags": [
          "Interviews"
        ],
        "parameters": [
          {
            "name": "interview_id",
            "in": "path",
            "description": "ID of interview",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/InterviewShow"
            }
          }
        }
      },
      "put": {
        "summary": "Update interview",
        "description": "",
        "tags": [
          "Interviews"
        ],
        "parameters": [
          {
            "name": "interview_id",
            "in": "path",
            "description": "ID of interview",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InterviewUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/InterviewShow"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete interview",
        "description": "",
        "tags": [
          "Interviews"
        ],
        "parameters": [
          {
            "name": "interview_id",
            "in": "path",
            "description": "ID of interview",
            "required": true
          }
        ]
      }
    },
    "/x/api/v3/interviews/{interview_id}/transcript": {
      "get": {
        "summary": "Show interview transcript",
        "description": "Returns the transcript of your interview",
        "tags": [
          "Interviews"
        ],
        "parameters": [
          {
            "name": "interview_id",
            "in": "path",
            "description": "ID of interview",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/InterviewTranscriptShow"
            }
          }
        }
      }
    },
    "/x/api/v3/interview_templates": {
      "post": {
        "summary": "Create interview template",
        "description": "Creates a new interview template. Requires CREATE_EDIT entitlement when flexible roles is enabled. Question IDs and skill unique IDs must be accessible to the current user.",
        "tags": [
          "Interview Templates"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "name"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name of the interview template",
                  "example": "Frontend Developer Interview Template"
                },
                "role_id": {
                  "type": "string",
                  "description": "Role unique ID for the template",
                  "example": "8b1o41tbpiq"
                },
                "team_share": {
                  "type": "integer",
                  "description": "Team sharing permission level (0: None, 1: Read, 2: Write, 3: Delete). Defaults to 1 (Read) if not provided",
                  "enum": [
                    0,
                    1,
                    2,
                    3
                  ]
                },
                "question_ids": {
                  "type": "array",
                  "description": "Array of question IDs to add to the template",
                  "example": [
                    1939659
                  ],
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Interview template response",
            "schema": {
              "$ref": "#/definitions/InterviewTemplateShow"
            }
          }
        }
      }
    },
    "/x/api/v3/interview_templates?limit={limit}&offset={offset}": {
      "get": {
        "summary": "List all interview templates",
        "description": "Returns the list of interview templates accessible to the user",
        "tags": [
          "Interview Templates"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "path",
            "default": 10,
            "type": "integer",
            "description": "Number of records to fetch"
          },
          {
            "name": "offset",
            "in": "path",
            "default": 0,
            "type": "integer",
            "description": "Offset of records"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter interview templates by ownership. It can have the following values:\n - owned: Templates created by the current user\n - shared: Templates shared with the current user (excluding templates created by the current user)",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "properties": {
                "data": {
                  "type": "array",
                  "description": "List of requested interview_templates",
                  "items": {
                    "$ref": "#/definitions/InterviewTemplateIndex"
                  }
                },
                "page_total": {
                  "default": 1,
                  "type": "integer",
                  "description": "Count of total interview_templates in current page"
                },
                "offset": {
                  "default": 0,
                  "type": "integer",
                  "description": "Offset in current page"
                },
                "previous": {
                  "default": "",
                  "type": "string",
                  "description": "URL for previous page. This will be empty when current page is first page"
                },
                "next": {
                  "default": "https://www.hackerrank.com/x/api/v3/interview_templates?limit=1&offset=1",
                  "type": "string",
                  "description": "URL for next page. This will be empty when current page is last page"
                },
                "first": {
                  "default": "https://www.hackerrank.com/x/api/v3/interview_templates?limit=1&offset=0",
                  "type": "string",
                  "description": "URL for first page."
                },
                "last": {
                  "default": "https://www.hackerrank.com/x/api/v3/interview_templates?limit=1&offset=12",
                  "type": "string",
                  "description": "URL for last page."
                },
                "total": {
                  "default": 13,
                  "type": "string",
                  "description": "Total items for current query"
                }
              },
              "required": [
                "data",
                "page_total",
                "offset",
                "previous",
                "next",
                "first",
                "last",
                "total"
              ]
            }
          }
        }
      }
    },
    "/x/api/v3/interview_templates/{template_id}": {
      "get": {
        "summary": "Show interview template",
        "description": "Returns the details of a single interview template.",
        "tags": [
          "Interview Templates"
        ],
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "type": "integer",
            "description": "ID of the interview template to retrieve",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Interview template response",
            "schema": {
              "$ref": "#/definitions/InterviewTemplateShow"
            }
          }
        }
      },
      "put": {
        "summary": "Update interview template",
        "description": "Updates an existing interview template. Only the template owner, company admins with explicit sharing enabled, or users with explicit editor access can update. Only provided fields are updated; omitted fields remain unchanged.",
        "tags": [
          "Interview Templates"
        ],
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "type": "integer",
            "description": "ID of the interview template to update",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name of the interview template",
                  "example": "Frontend Developer Interview Template"
                },
                "role_id": {
                  "type": "string",
                  "description": "Role unique ID for the template",
                  "example": "8b1o41tbpiq"
                },
                "team_share": {
                  "type": "integer",
                  "description": "Team sharing permission level (0: None, 1: Read, 2: Write, 3: Delete)",
                  "enum": [
                    0,
                    1,
                    2,
                    3
                  ]
                },
                "scorecard_id": {
                  "type": "integer",
                  "description": "ID of the scorecard to associate with the template",
                  "example": 98765
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Interview template response",
            "schema": {
              "$ref": "#/definitions/InterviewTemplateShow"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete interview template",
        "description": "Deletes an interview template. Only the template owner or company admins with explicit sharing enabled can delete a template.",
        "tags": [
          "Interview Templates"
        ],
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "type": "integer",
            "description": "ID of the interview template to delete",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Interview template deleted successfully",
            "schema": {
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Success"
                }
              }
            }
          }
        }
      }
    },
    "/questions": {
      "options": {
        "summary": "Questions object",
        "description": "This object represents questions available in this account.",
        "tags": [
          "Questions"
        ],
        "responses": {
          "description": {
            "schema": {
              "$ref": "#/definitions/QuestionRef"
            }
          }
        }
      }
    },
    "/x/api/v3/questions": {
      "get": {
        "summary": "List all questions",
        "description": "",
        "tags": [
          "Questions"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Question status (active/archived)",
            "required": false
          },
          {
            "name": "access",
            "in": "query",
            "description": "Access type (library, owned, shared) (comma separated values)",
            "required": false
          },
          {
            "name": "difficulty",
            "in": "query",
            "description": "Difficulty of questions (comma separated values)",
            "required": false
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type of questions (comma separated values)",
            "required": false
          },
          {
            "name": "owner",
            "in": "query",
            "description": "User ids (comma separated values)",
            "required": false
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Tags (comma separated values)",
            "required": false
          },
          {
            "name": "skills",
            "in": "query",
            "description": "Skills (comma separated values)",
            "required": false
          },
          {
            "name": "languages",
            "in": "query",
            "description": "Languages allowed for the question (comma separated values)",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "properties": {
                "data": {
                  "type": "array",
                  "description": "List of requested question",
                  "items": {
                    "$ref": "#/definitions/QuestionIndex"
                  }
                },
                "page_total": {
                  "default": 1,
                  "type": "integer",
                  "description": "Count of total question in current page"
                },
                "offset": {
                  "default": 0,
                  "type": "integer",
                  "description": "Offset in current page"
                },
                "previous": {
                  "default": "",
                  "type": "string",
                  "description": "URL for previous page. This will be empty when current page is first page"
                },
                "next": {
                  "default": "https://www.hackerrank.com/x/api/v3/question?limit=1&offset=1",
                  "type": "string",
                  "description": "URL for next page. This will be empty when current page is last page"
                },
                "first": {
                  "default": "https://www.hackerrank.com/x/api/v3/question?limit=1&offset=0",
                  "type": "string",
                  "description": "URL for first page."
                },
                "last": {
                  "default": "https://www.hackerrank.com/x/api/v3/question?limit=1&offset=12",
                  "type": "string",
                  "description": "URL for last page."
                },
                "total": {
                  "default": 13,
                  "type": "string",
                  "description": "Total items for current query"
                }
              },
              "required": [
                "data",
                "page_total",
                "offset",
                "previous",
                "next",
                "first",
                "last",
                "total"
              ]
            }
          }
        }
      },
      "post": {
        "summary": "Create Question",
        "description": "",
        "tags": [
          "Questions"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QuestionCreate"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/QuestionShow"
            }
          }
        }
      }
    },
    "/x/api/v3/questions/{question_id}": {
      "get": {
        "summary": "Show question",
        "description": "",
        "tags": [
          "Questions"
        ],
        "parameters": [
          {
            "name": "question_id",
            "in": "path",
            "description": "ID of question",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/QuestionShow"
            }
          }
        }
      },
      "put": {
        "summary": "Update question",
        "description": "",
        "tags": [
          "Questions"
        ],
        "parameters": [
          {
            "name": "question_id",
            "in": "path",
            "description": "ID of question",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QuestionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/QuestionShow"
            }
          }
        }
      }
    },
    "/x/api/v3/questions/{question_id}/generate": {
      "put": {
        "summary": "Generate codestubs",
        "description": "",
        "tags": [
          "Questions"
        ],
        "parameters": [
          {
            "name": "question_id",
            "in": "path",
            "description": "ID of question",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "default": "code",
                  "description": "Type of question",
                  "enum": [
                    "code",
                    "approx"
                  ]
                },
                "functionName": {
                  "type": "string",
                  "default": "function_name",
                  "description": "Name of the function"
                },
                "functionParams": {
                  "type": "string",
                  "default": "INTEGER param",
                  "description": "Parameters for the function. There can be more than one parameters. Example: <code>INTEGER param1 STRING param2</code>"
                },
                "functionReturn": {
                  "type": "string",
                  "default": "INTEGER",
                  "description": "Return type of the function"
                },
                "allowedLanguages": {
                  "type": "string",
                  "default": "C, Clojure",
                  "description": "Languages available for codestub generation. This is only available for code/approx question types."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "functionName": {
                  "type": "string",
                  "default": "function_name",
                  "description": "Name of the function"
                },
                "functionParams": {
                  "type": "string",
                  "default": "INTEGER param",
                  "description": "Parameters for the function. There can be more than one parameters. Example: <code>INTEGER param1 STRING param2</code>"
                },
                "functionReturn": {
                  "type": "string",
                  "default": "INTEGER",
                  "description": "Return type of the function"
                },
                "allowedLanguages": {
                  "type": "string",
                  "default": "C, Clojure",
                  "description": "Languages available for codestub generation. This is only available for code/approx question types."
                },
                "c_template_head": {
                  "type": "string",
                  "default": "#include <assert.h>\n#include <ctype.h>\n#include <limits.h>\n#include <math.h>\n#include <stdbool.h>\n#include <stddef.h>\n#include <stdint.h>\n#include <stdio.h>\n#include <stdlib.h>\n#include <string.h>\n\nchar* readline();\nchar* ltrim(char*);\nchar* rtrim(char*);\n\nint parse_int(char*);\n\n",
                  "description": "Head of the codestub generated for C"
                },
                "c_template_tail": {
                  "type": "string",
                  "default": "int main()\n{\n FILE* fptr = fopen(getenv(\"OUTPUT_PATH\"), \"w\");\n\n int param = parse_int(ltrim(rtrim(readline())));\n\n int result = function_name(param);\n\n fprintf(fptr, \"%d\\n\", result);\n\n fclose(fptr);\n\n return 0;\n}\n\nchar* readline() {\n size_t alloc_length = 1024;\n size_t data_length = 0;\n\n char* data = malloc(alloc_length);\n\n while (true) {\n char* cursor = data + data_length;\n char* line = fgets(cursor, alloc_length - data_length, stdin);\n\n if (!line) {\n break;\n }\n\n data_length += strlen(cursor);\n\n if (data_length < alloc_length - 1 || data[data_length - 1] == '\\n') {\n break;\n }\n\n alloc_length <<= 1;\n\n data = realloc(data, alloc_length);\n\n if (!data) {\n data = '\\0';\n\n break;\n }\n }\n\n if (data[data_length - 1] == '\\n') {\n data[data_length - 1] = '\\0';\n\n data = realloc(data, data_length);\n\n if (!data) {\n data = '\\0';\n }\n } else {\n data = realloc(data, data_length + 1);\n\n if (!data) {\n data = '\\0';\n } else {\n data[data_length] = '\\0';\n }\n }\n\n return data;\n}\n\nchar* ltrim(char* str) {\n if (!str) {\n return '\\0';\n }\n\n if (!*str) {\n return str;\n }\n\n while (*str != '\\0' && isspace(*str)) {\n str++;\n }\n\n return str;\n}\n\nchar* rtrim(char* str) {\n if (!str) {\n return '\\0';\n }\n\n if (!*str) {\n return str;\n }\n\n char* end = str + strlen(str) - 1;\n\n while (end >= str && isspace(*end)) {\n end--;\n }\n\n *(end + 1) = '\\0';\n\n return str;\n}\n\nint parse_int(char* str) {\n char* endptr;\n int value = strtol(str, &endptr, 10);\n\n if (endptr == str || *endptr != '\\0') {\n exit(EXIT_FAILURE);\n }\n\n return value;\n}\n",
                  "description": "Tail of the codestub generated for C"
                },
                "c_template": {
                  "type": "string",
                  "default": "/*\n * Complete the 'function_name' function below.\n *\n * The function is expected to return an INTEGER.\n * The function accepts INTEGER param as parameter.\n */\n\nint function_name(int param) {\n\n}\n\n",
                  "description": "Body of the codestub generated for C"
                },
                "clojure_template_head": {
                  "type": "string",
                  "default": "\n\n",
                  "description": "Head of the codestub generated for Clojure"
                },
                "clojure_template_tail": {
                  "type": "string",
                  "default": "(def fptr (get (System/getenv) \"OUTPUT_PATH\"))\n\n(def param (Integer/parseInt (clojure.string/trim (read-line))))\n\n(def result (function_name param))\n\n(spit fptr (str result \"\\n\") :append true)\n",
                  "description": "Tail of the codestub generated for Clojure"
                },
                "clojure_template": {
                  "type": "string",
                  "default": ";\n; Complete the 'function_name' function below.\n;\n; The function is expected to return an INTEGER.\n; The function accepts INTEGER param as parameter.\n;\n\n(defn function_name [param]\n\n)\n\n",
                  "description": "Body of the codestub generated for Clojure"
                },
                "template_type": {
                  "type": "string",
                  "default": "1",
                  "description": "Type of template"
                }
              }
            }
          }
        }
      }
    },
    "/x/api/v3/questions/{question_id}/custom_codestubs": {
      "put": {
        "summary": "Update codestubs",
        "description": "",
        "tags": [
          "Questions"
        ],
        "parameters": [
          {
            "name": "question_id",
            "in": "path",
            "description": "ID of question",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "templates": {
                  "type": "array",
                  "default": [
                    {
                      "language": "c",
                      "head": "",
                      "body": "int main()",
                      "tail": ""
                    },
                    {
                      "language": "cpp",
                      "head": "",
                      "body": "int main()",
                      "tail": ""
                    }
                  ],
                  "required": true,
                  "description": "List of the template",
                  "items": {
                    "type": "object",
                    "properties": {
                      "language": {
                        "type": "string",
                        "default": "c",
                        "description": "Language of the template"
                      },
                      "head": {
                        "type": "string",
                        "default": "",
                        "description": "Head of the template"
                      },
                      "body": {
                        "type": "string",
                        "default": "",
                        "required": true,
                        "description": "template"
                      },
                      "tail": {
                        "type": "string",
                        "default": "",
                        "description": "Tail of the template"
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/x/api/v3/questions/{question_id}/testcases": {
      "post": {
        "summary": "Add testcase",
        "description": "",
        "tags": [
          "Questions"
        ],
        "parameters": [
          {
            "name": "question_id",
            "in": "path",
            "description": "ID of question",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "explanation": {
                  "type": "string",
                  "default": "",
                  "description": "The explanation for the testcase"
                },
                "input": {
                  "type": "string",
                  "default": "input",
                  "description": "Input for the testcase"
                },
                "output": {
                  "type": "string",
                  "default": "output",
                  "description": "Output for the testcase"
                },
                "name": {
                  "type": "string",
                  "default": "name",
                  "description": "Name of the testcase"
                },
                "qid": {
                  "type": "integer",
                  "default": 1,
                  "description": "Question id of the question to which testcase will be added"
                },
                "sample": {
                  "type": "integer",
                  "default": false,
                  "description": "True if it is a sample testcase"
                },
                "score": {
                  "type": "integer",
                  "default": 10,
                  "description": "Score of the testcase"
                },
                "type": {
                  "type": "string",
                  "default": "easy",
                  "description": "Type of the testcase"
                }
              }
            }
          }
        ]
      }
    },
    "/x/api/v3/questions/{question_id}/testcases/{testcase_id}": {
      "put": {
        "summary": "Update testcase",
        "description": "",
        "tags": [
          "Questions"
        ],
        "parameters": [
          {
            "name": "question_id",
            "in": "path",
            "description": "ID of question",
            "required": true
          },
          {
            "name": "testcase_id",
            "in": "path",
            "description": "Testcase ID",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "explanation": {
                  "type": "string",
                  "default": "",
                  "description": "The explanation for the testcase"
                },
                "input": {
                  "type": "string",
                  "default": "input",
                  "description": "Input for the testcase"
                },
                "output": {
                  "type": "string",
                  "default": "output",
                  "description": "Output for the testcase"
                },
                "name": {
                  "type": "string",
                  "default": "name",
                  "description": "Name of the testcase"
                },
                "qid": {
                  "type": "integer",
                  "default": 1,
                  "description": "Question id of the question to which testcase will be added"
                },
                "sample": {
                  "type": "integer",
                  "default": false,
                  "description": "True if it is a sample testcase"
                },
                "score": {
                  "type": "integer",
                  "default": 10,
                  "description": "Score of the testcase"
                },
                "type": {
                  "type": "string",
                  "default": "easy",
                  "description": "Type of the testcase"
                }
              }
            }
          }
        ]
      },
      "delete": {
        "summary": "Delete testcase",
        "description": "",
        "tags": [
          "Questions"
        ],
        "parameters": [
          {
            "name": "question_id",
            "in": "path",
            "description": "ID of question",
            "required": true
          },
          {
            "name": "testcase_id",
            "in": "path",
            "description": "Testcase ID",
            "required": true
          }
        ]
      }
    },
    "/x/api/v3/questions/{question_id}/testcases/delete_all": {
      "delete": {
        "summary": "Delete All testcases",
        "description": "",
        "tags": [
          "Questions"
        ],
        "parameters": [
          {
            "name": "question_id",
            "in": "path",
            "description": "ID of question",
            "required": true
          }
        ]
      }
    },
    "/x/api/v3/templates": {
      "get": {
        "summary": "List all invite templates",
        "description": "",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "access",
            "in": "query",
            "description": "Access type (shared/owned)",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "properties": {
                "data": {
                  "type": "array",
                  "description": "List of requested templates",
                  "items": {
                    "$ref": "#/definitions/TemplateIndex"
                  }
                },
                "page_total": {
                  "default": 1,
                  "type": "integer",
                  "description": "Count of total templates in current page"
                },
                "offset": {
                  "default": 0,
                  "type": "integer",
                  "description": "Offset in current page"
                },
                "previous": {
                  "default": "",
                  "type": "string",
                  "description": "URL for previous page. This will be empty when current page is first page"
                },
                "next": {
                  "default": "https://www.hackerrank.com/x/api/v3/templates?limit=1&offset=1",
                  "type": "string",
                  "description": "URL for next page. This will be empty when current page is last page"
                },
                "first": {
                  "default": "https://www.hackerrank.com/x/api/v3/templates?limit=1&offset=0",
                  "type": "string",
                  "description": "URL for first page."
                },
                "last": {
[...]
