{"swagger":"2.0","info":{"version":"v3","title":"HackerRank for Work","description":"Documentation for the API of HackerRank for Work.","termsOfService":"https://www.hackerrank.com/work/tos","contact":{"name":"HackerRank for Work API Team","url":"https://www.hackerrank.com/contactus","email":"support@hackerrank.com"},"license":{"name":"MIT"}},"securityDefinitions":{"api_key":{"type":"apiKey","name":"access_token","in":"query"}},"host":"www.hackerrank.com","basePath":"","consumes":["application/json"],"produces":["application/json","application/xml"],"schemes":["https"],"paths":{"/intro_api":{"options":{"summary":"API","description":"The HackerRank for Work API is organized around \u003ca href='http://en.wikipedia.org/wiki/Representational_State_Transfer'\u003eREST\u003c/a\u003e. Our API has predictable, resource-oriented URLs, and uses HTTP response codes to indicate API errors. We use built-in HTTP features, like HTTP authentication and HTTP verbs, which are understood by off-the-shelf HTTP clients. We support \u003ca href='http://en.wikipedia.org/wiki/Cross-origin_resource_sharing'\u003ecross-origin resource sharing\u003c/a\u003e, allowing you to interact securely with our API from a client-side web application (though you should never expose your secret API key in any public website's client-side code). \u003ca href='http://www.json.org/'\u003eJSON\u003c/a\u003e is returned by all API responses, including errors.","tags":["Introduction"]}},"/intro_requests":{"options":{"summary":"Resources","description":"\u003cp\u003eAny tool that is fluent in HTTP can communicate with the API simply by requesting the correct URI.  Requests should be made using the HTTPS protocol so that traffic is encrypted.  The interface responds to different methods depending on the action required.\u003c/p\u003e\n\u003ctable class=\"pure-table pure-table-horizontal\"\u003e\n\u003cthead\u003e\n\u003ctr\u003e\n\u003cth\u003eMethod\u003c/th\u003e\n\u003cth\u003eUsage\u003c/th\u003e\n\u003c/tr\u003e\n\u003c/thead\u003e\n\u003ctbody\u003e\n\u003ctr\u003e\n\u003ctd\u003eGET\u003c/td\u003e\n\u003ctd\u003e\n\u003cp\u003eFor simple retrieval of information about a resource (user, team, etc) you should use the \u003cstrong\u003eGET\u003c/strong\u003e method.  The information you request will be returned to you as a JSON object.\u003c/p\u003e\n\n\u003cp\u003eThe attributes defined by the JSON object can be used to form additional requests.  Any request using the GET method is read-only and will not affect any of the objects you are querying.\u003c/p\u003e\n\u003c/td\u003e\n\u003c/tr\u003e\n\u003ctr\u003e\n\u003ctd\u003eDELETE\u003c/td\u003e\n\u003ctd\u003e\n\u003cp\u003eTo destroy a resource and remove it from your account and environment, the \u003cstrong\u003eDELETE\u003c/strong\u003e method should be used.  This will remove the specified object if it is found.  If it is not found, the operation will return a response indicating that the object was not found.\u003c/p\u003e\n\n\u003cp\u003eThis \u003ca href=\"http://en.wikipedia.org/wiki/Idempotent#Computer_science_meaning\"\u003eidempotency\u003c/a\u003e means that you do not have to check for a resource's availability prior to issuing a delete command, the final state will be the same regardless of its existence.\u003c/p\u003e\n\u003c/td\u003e\n\u003c/tr\u003e\n\u003ctr\u003e\n\u003ctd\u003ePUT\u003c/td\u003e\n\u003ctd\u003e\n\u003cp\u003eTo update the information about a resource in your account, the \u003cstrong\u003ePUT\u003c/strong\u003e method is available.\u003c/p\u003e\n\n\u003cp\u003eLike the DELETE Method, the PUT method is idempotent.  It sets the state of the target using the provided values, regardless of their current values.  Requests using the PUT method do not need to check the current attributes of the object.\u003c/p\u003e\n\u003c/td\u003e\n\u003c/tr\u003e\n\u003ctr\u003e\n\u003ctd\u003ePOST\u003c/td\u003e\n\u003ctd\u003e\n\u003cp\u003eTo create a new object, your request should specify the \u003cstrong\u003ePOST\u003c/strong\u003e method.\u003c/p\u003e\n\n\u003cp\u003eThe POST request must include all of the attributes necessary to create a new object.  When you wish to create a new object, send a POST request to the resource endpoint.\u003c/p\u003e\n\u003c/td\u003e\n\u003c/tr\u003e\n\u003ctr\u003e\n\u003ctd\u003eOPTIONS\u003c/td\u003e\n\u003ctd\u003e\n\u003cp\u003eFinally, to retrieve header information, you should use the \u003cstrong\u003eOPTIONS\u003c/strong\u003e method to get the headers.  This returns only the header of what would be returned with an associated GET request.\u003c/p\u003e\n\n\u003cp\u003eResponse headers contain some useful information about your API access and the results that are available for your request.\u003c/p\u003e\n\n\u003cp\u003eFor instance, the headers contain your current rate-limit value and the amount of time available until the limit resets.  It also contains metrics about the total number of objects found, pagination information, and the total content length.\u003c/p\u003e\n\u003c/td\u003e\n\u003c/tr\u003e\n\u003c/tbody\u003e\n\u003c/table\u003e\n \u003cp\u003e ** In any of the resources, non mandatory new fields can be added without any prior intimation. Please make sure that your implementation which uses this API do not fails in such a case. ** ","tags":["Introduction"]}},"/intro_http_statuses":{"options":{"summary":"HTTP Statuses","description":"\u003cp\u003eAlong with the HTTP methods that the API responds to, it will also return standard HTTP statuses, including error codes. \u003c/p\u003e\u003cp\u003eIn the event of a problem, the status will contain the error code, while the body of the response will usually contain additional information about the problem that was encountered.\u003c/p\u003e\n\n\u003ctable class='pure-table pure-table-horizontal'\u003e\u003cthead\u003e\u003ctr\u003e\u003cth\u003eCode Range\u003c/th\u003e\u003cth\u003eDescription\u003c/th\u003e\u003c/tr\u003e\u003c/thead\u003e\u003ctr\u003e\u003ctd\u003e2xx\u003c/td\u003e\u003ctd\u003eThis range of response code indicates that request was fulfilled successfully and no error was encountered.\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e400\u003c/td\u003e\u003ctd\u003eThis return code indicates that there was an error in fulfilling the request because the syntax of URL was incorrect. The detail of the error will present in the body of response. Please do not repeat this request without modification\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e401\u003c/td\u003e\u003ctd\u003eThis return code means that we are not able to authenticate your request. Please make sure that a correct access token is provided in the request in the appropriate format. \u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e403\u003c/td\u003e\u003ctd\u003eThis error code indicates that the user identified by the access token does not have permission to perform the requested action. If your account is locked, response code will always be 403. \u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e404\u003c/td\u003e\u003ctd\u003eThis response indicates that the resource you are trying to access does not exists. \n \n Please note that this error will also be returned when the resource exists but belongs to a different account than is indicated by the access code.\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e422\u003c/td\u003e\u003ctd\u003eThis error code indicate that while the syntax was correct, request cannot be fulfilled because there was an issue in processing request body. An example of this could be getting inviting a candidate to a test for which they are already invited. More details about the error code can be found in the response body.\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e429\u003c/td\u003e\u003ctd\u003eThis response code indicates that you have exceeded rate limit for using the API.\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e5xx\u003c/td\u003e\u003ctd\u003eThis response code indicates that there was an internal server error while processing the request. We are automatically notified of these errors, however if you are seeing these for extended amount of time, then please report to \u003ca href='mailto:support@hackerrank.com'\u003esupport@hackerrank.com\u003c/a\u003e\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e\n\n","tags":["Introduction"]}},"/intro_authentication":{"options":{"summary":"Authentication","description":"Authenticate your account when using the API by including your secret API key in the request. You can manage your API keys in the \u003ca href=\"https://hackerrank.com/x/settings/api\"\u003eSettings page\u003c/a\u003e. Your API keys carry many privileges, so be sure to keep them secret!\n\n    Do not share your secret API keys in publicly accessible areas such GitHub, client-side code, and so forth.\n\nAuthentication to the API is performed via \u003ca href=\"http://en.wikipedia.org/wiki/Basic_access_authentication\"\u003eHTTP Basic Auth\u003c/a\u003e. Provide your API key as the basic auth username value. You do not need to provide a password.\n\nIf you need to authenticate via bearer auth (e.g., for a cross-origin request), use \u003ccode class=\" language-undefined\"\u003e-H \"Authorization: Bearer hackerrank_api_key\"\u003c/code\u003e instead of \u003ccode class=\" language-undefined\"\u003e-u hackerrank_api_key:\u003c/code\u003e.\n\nAll API requests must be made over \u003ca href=\"http://en.wikipedia.org/wiki/HTTP_Secure\"\u003eHTTPS\u003c/a\u003e. Calls made over plain HTTP will fail. API requests without authentication will also fail.","tags":["Introduction"]}},"/x/api/v3/{resource_name}/{resource_id}?fields={fields}":{"options":{"summary":"Partial Response","description":"By default, the server sends back the default representation of a resource after processing requests. For better performance and saving bandwidth, you can ask the server to send only the fields you really need and get a partial response instead.\n\nTo request a partial response, use the \u003ccode\u003efields\u003c/code\u003e request parameter to specify the fields you want returned. You can use this parameter with any request that returns response data.\n\nFor example, \u003ccode\u003e/users?fields=id,email\u003c/code\u003e will fetch only the id and email of users.\n\n","tags":["Introduction"]}},"/x/api/v3/{resource_name}/{resource_id}?fields={additional_fields}":{"options":{"summary":"Additional Response","description":"\u003cp\u003eMany resources also have various additional attributes that will not be the part of the basic response. To query them you have to specify those attributes in fields query. \u003c/p\u003e\u003cp\u003eYou can provide a comma separated list of the all the fields you want to query, including the basic fields as well as the additional fields\u003c/p\u003e\u003cp\u003eAll the additional fields that are available for the resources will be documented in the resource page.\u003c/p\u003e","tags":["Introduction"]}},"/x/api/v3/{resource_name}/{resource_id}?expand={expand}":{"options":{"summary":"Expanding Objects","description":"\u003cp\u003e\n        Many objects contain the ID of a related object in their response properties. For example, a \u003ccode class=\" language-undefined\"\u003eTest\u003c/code\u003e may have an associated \u003ccode class=\" language-undefined\"\u003eUser\u003c/code\u003e ID. Those objects can be expanded inline with the \u003ccode class=\" language-undefined\"\u003eexpand\u003c/code\u003e request parameter. Objects that can be expanded will be tagged as ** [Expandable] ** in this documentation. This parameter is available on all API requests, and applies to the response of that request only.\n      \u003c/p\u003e\n      \u003cp\u003e       You can expand multiple objects at once by identifying multiple items in the \u003ccode class=\" language-undefined\"\u003eexpand\u003c/code\u003e array.\n      \u003c/p\u003e\n\n All the attributes that can be expanded will be tagged as \u003ccode\u003eexpandable\u003c/code\u003e\n\u003cp\u003eNesting object expanding is not allowed.\u003c/p\u003e","tags":["Introduction"]}},"/x/api/v3/resource_name":{"options":{"summary":"Bulk Fetch","description":"\u003cp\u003e\n  Most API resources have support for bulk fetches.\n        \u003cp\u003e ** All bulk fetch calls also support Partial response, additional response and expanding objects. **","tags":["Introduction"]}},"/x/api/v3/{resource_name}?offset={offset}\u0026limit={limit}":{"options":{"summary":"Pagination","description":"All bulk fetch responses are paginated. Paginated requests share a common structure, taking at least these two parameters: \u003ccode class=\" language-undefined\"\u003eoffset\u003c/code\u003e and \u003ccode class=\" language-undefined\"\u003elimit\u003c/code\u003e.\n        The default value for offset is 0 and default value for limit is 10.\u003c/p\u003e\n  \u003cp\u003e The pagination info is included in the response body. It is important to follow link values that are returned instead of constructing your own URLs.\u003c/p\u003e \n \n \u003cp\u003e** If not provided, then the value of `limit` will be assumed as `10` ** \u003c/p\u003e\n \n \u003cp\u003e ** Please note than maximum value of `limit` can be `100` ** \u003c/p\u003e","tags":["Introduction"]}},"/x/api/v3/{resource_name}?offset={offset}\u0026limit={limit}\u0026sort={sort}":{"options":{"summary":"Sorting","description":"\u003cp\u003eIn bulk fetch calls, sorting is also supported for some attributes in the resource. To query sorted items, you can provide comma separated list of fields by which you the want result to be sorted. \u003c/p\u003e\u003cp\u003eBy default the order of sorting is `DESC`. However if you want to sort in ascending order for a particular field, you can prepend a `-` sign in that field.\u003c/p\u003e\u003cp\u003e** Please note that not all attributes support sorting, the attributes that will support sorting will be marked as such in the documentation **\u003c/p\u003e","tags":["Introduction"]}},"/x/api/v3/{resource_name}?offset={offset}\u0026limit={limit}\u0026{filter1}={filter1_value}\u0026{filter2}={filter2_value}":{"options":{"summary":"Filtering","description":"\u003cp\u003eSimilar to sorting, bulk fetch calls also support filtering. To implement a filter in a request, just provide the attribute name and its value you want to filter as a query parameter\u003c/p\u003e\u003cp\u003e**Not all attributes support filter, attributes supporting filter will be marked as such.**\u003c/p\u003e\u003cp\u003eFilters are applied differently depending upon the data type:\u003c/p\u003e\u003ctable class='pure-table pure-table-horizontal'\u003e\u003cthead\u003e\u003ctr\u003e\u003ctd\u003eDatatype\u003c/td\u003e\u003ctd\u003eDescription\u003c/td\u003e\u003ctd\u003eExample\u003c/td\u003e\u003c/tr\u003e\u003c/thead\u003e\u003ctr\u003e\u003ctd\u003eDateTime\u003c/td\u003e\u003ctd\u003eFilters on datetime are applied in form of `from..to`. Both `from` and `to` are in form of `YYYY-MM-DDThh:mm:ssÂ±zzz` where `zzz` is offset form UTC timezone in form of `hh:mm` including a leading zero for single digit hour value. All time values are 24 hour format\u003c/td\u003e\u003ctd\u003e\u003ccode\u003eGET: /resource?created_at=2016-12-24T09:00:00-08:00..2016-12-28T13:30:00-08:00\u003c/code\u003e\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003eString\u003c/td\u003e\u003ctd\u003eAttributes with string datatype only support exact match filter. Partial match and regex/wildcard match is not supported. \u003c/td\u003e\u003ctd\u003e\u003ccode\u003eGET /resource?email=abc@example.com\u003c/code\u003e\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003eInteger\u003c/td\u003e\u003ctd\u003eInteger datatype support both exact match filter and `from..to` notation\u003c/td\u003e\u003ctd\u003e\u003ccode\u003eGET /resource?state=1..7\u003c/code\u003e\u003cbr\u003e\u003ccode\u003eGET /resource?state=5\u003c/code\u003e\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003eBoolean\u003c/td\u003e\u003ctd\u003eBoolean datatype filters support exact match which can be `true`, `false` or `null`\u003c/td\u003e\u003ctd\u003e\u003ccode\u003eGET /resource?valid=true\u003c/code\u003e\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e","tags":["Introduction"]}},"/users":{"options":{"summary":"User object","description":"User object represents the members of your team who have a valid HackerRank for Work account. The API allows you to create, delete and update your users. You can retrieve individual users as well as a list of all the users in your company. \u003cp\u003ePermission can be applied on \u003ccode\u003ecandidates\u003c/code\u003e, \u003ccode\u003einterviews\u003c/code\u003e, \u003ccode\u003equestions\u003c/code\u003e and \u003ccode\u003etests\u003c/code\u003e separately. \u003c/p\u003e\u003cp\u003eValue for the permission will mean following: \u003c/p\u003e\u003ctable class=\"pure-table pure-table-horizontal\"\u003e\u003cthead\u003e\u003ctr\u003e\u003ctd\u003ePermission Value\u003c/td\u003e\u003ctd\u003eAccess level\u003c/td\u003e\u003c/tr\u003e\u003c/thead\u003e\u003ctr\u003e\u003ctd\u003e0\u003c/td\u003e\u003ctd\u003eUser cannot access the resource\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e1\u003c/td\u003e\u003ctd\u003eUser has read access for this resources\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e2\u003c/td\u003e\u003ctd\u003eUser has read and write access for this resource\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e3\u003c/td\u003e\u003ctd\u003eUser has read, write and delete access for this resource\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e\u003cp\u003eDefault permissions for each role are: \u003c/p\u003e\u003ctable class=\"pure-table pure-table-horizontal\"\u003e\u003cthead\u003e\u003ctr\u003e\u003ctd\u003eRole\u003c/td\u003e\u003ctd\u003ePermissions\u003c/td\u003e\u003c/tr\u003e\u003c/thead\u003e\u003ctr\u003e\u003ctd\u003eRecruiter\u003c/td\u003e\u003ctd\u003eLevel 3 permission for all resources\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003eDeveloper\u003c/td\u003e\u003ctd\u003eLevel 3 permission for all resources\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003eInterviewer\u003c/td\u003e\u003ctd\u003eLevel 3 permission for questions and  interviews. 0 for rest\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e","tags":["Users"],"responses":{"description":{"schema":{"$ref":"#/definitions/UserRef"}}}}},"/x/api/v3/users":{"post":{"summary":"Create user","description":"Create a new user object.","tags":["Users"],"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/UserCreate"}}],"responses":{"200":{"description":"user response","schema":{"$ref":"#/definitions/UserShow"}}}}},"/x/api/v3/users?limit={limit}\u0026offset={offset}":{"get":{"summary":"List all users","description":"Returns the list of your users.","tags":["Users"],"parameters":[{"name":"limit","in":"path","default":10,"type":"integer","description":"Number of records to fetch"},{"name":"offset","in":"path","default":0,"type":"integer","description":"Offset of records"}],"responses":{"200":{"schema":{"properties":{"data":{"type":"array","description":"List of requested users","items":{"$ref":"#/definitions/UserIndex"}},"page_total":{"default":1,"type":"integer","description":"Count of total users in current page"},"offset":{"default":0,"type":"integer","description":"Offset in current page"},"previous":{"default":"","type":"string","description":"URL for previous page. This will be empty when current page is first page"},"next":{"default":"https://www.hackerrank.com/x/api/v3/users?limit=1\u0026offset=1","type":"string","description":"URL for next page. This will be empty when current page is last page"},"first":{"default":"https://www.hackerrank.com/x/api/v3/users?limit=1\u0026offset=0","type":"string","description":"URL for first page."},"last":{"default":"https://www.hackerrank.com/x/api/v3/users?limit=1\u0026offset=12","type":"string","description":"URL for last page."},"total":{"default":13,"type":"string","description":"Total items for current query"}},"required":["data","page_total","offset","previous","next","first","last","total"]}}}}},"/x/api/v3/users/{id}":{"get":{"summary":"Retrieve user","description":"Retrieves the details of an existing user. You need only supply the unique customer identifier that was returned upon user creation.","tags":["Users"],"parameters":[{"name":"id","in":"path","type":"string","description":"ID of user to retrieve","schema":{"$ref":"#/definitions/UserShow"}}],"responses":{"200":{"description":"user response","schema":{"$ref":"#/definitions/UserShow"}}}},"put":{"summary":"Update user","description":"Updates the specified user by setting the values of the parameters passed. Any parameters not provided will be left unchanged. This request accepts mostly the same arguments as the user creation call.","tags":["Users"],"parameters":[{"name":"id","in":"path","type":"string","description":"ID of user to update"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/UserUpdate"}}]},"delete":{"summary":"Lock user","description":"Lock a user. This will also remove user from all the team that they are currently part of.","tags":["Users"],"parameters":[{"name":"id","in":"path","type":"string","description":"ID of user to lock"}],"responses":{"204":{"description":"User locked"}}}},"/x/api/v3/users/search?search={search_string}\u0026limit={limit}\u0026offset={offset}":{"get":{"summary":"Search users","description":"","tags":["Users"],"parameters":[{"name":"search_string","in":"path","description":"Name or email","required":true},{"name":"limit","in":"path","default":10,"type":"integer","description":"Number of records to fetch"},{"name":"offset","in":"path","default":0,"type":"integer","description":"Offset of records"}],"responses":{"200":{"schema":{"properties":{"data":{"type":"array","description":"List of requested users","items":{"$ref":"#/definitions/UserIndex"}},"page_total":{"default":1,"type":"integer","description":"Count of total users in current page"},"offset":{"default":0,"type":"integer","description":"Offset in current page"},"previous":{"default":"","type":"string","description":"URL for previous page. This will be empty when current page is first page"},"next":{"default":"https://www.hackerrank.com/x/api/v3/users?limit=1\u0026offset=1","type":"string","description":"URL for next page. This will be empty when current page is last page"},"first":{"default":"https://www.hackerrank.com/x/api/v3/users?limit=1\u0026offset=0","type":"string","description":"URL for first page."},"last":{"default":"https://www.hackerrank.com/x/api/v3/users?limit=1\u0026offset=12","type":"string","description":"URL for last page."},"total":{"default":13,"type":"string","description":"Total items for current query"}},"required":["data","page_total","offset","previous","next","first","last","total"]}}}}},"/teams":{"options":{"summary":"Team object","description":"You can manage teams in your company account using this API. Use teams to group users based on access control and permission groups.","tags":["Teams"],"responses":{"description":{"schema":{"$ref":"#/definitions/TeamRef"}}}}},"/x/api/v3/teams":{"post":{"summary":"Create team","description":"","tags":["Teams"],"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/TeamCreate"}}],"responses":{"200":{"schema":{"$ref":"#/definitions/TeamShow"}}}}},"/x/api/v3/teams?limit={limit}\u0026offset={offset}":{"get":{"summary":"List all teams","description":"","tags":["Teams"],"parameters":[{"name":"limit","in":"path","default":10,"type":"integer","description":"Number of records to fetch"},{"name":"offset","in":"path","default":0,"type":"integer","description":"Offset of records"}],"responses":{"200":{"schema":{"properties":{"data":{"type":"array","description":"List of requested teams","items":{"$ref":"#/definitions/TeamIndex"}},"page_total":{"default":1,"type":"integer","description":"Count of total teams in current page"},"offset":{"default":0,"type":"integer","description":"Offset in current page"},"previous":{"default":"","type":"string","description":"URL for previous page. This will be empty when current page is first page"},"next":{"default":"https://www.hackerrank.com/x/api/v3/teams?limit=1\u0026offset=1","type":"string","description":"URL for next page. This will be empty when current page is last page"},"first":{"default":"https://www.hackerrank.com/x/api/v3/teams?limit=1\u0026offset=0","type":"string","description":"URL for first page."},"last":{"default":"https://www.hackerrank.com/x/api/v3/teams?limit=1\u0026offset=12","type":"string","description":"URL for last page."},"total":{"default":13,"type":"string","description":"Total items for current query"}},"required":["data","page_total","offset","previous","next","first","last","total"]}}}}},"/x/api/v3/teams/{id}":{"get":{"summary":"Retrieve team","description":"","tags":["Teams"],"parameters":[{"name":"id","in":"path","description":"ID of the team to retrieve"}],"responses":{"200":{"schema":{"description":"Team response","$ref":"#/definitions/TeamShow"}}}},"put":{"summary":"Update team","description":"","tags":["Teams"],"parameters":[{"name":"id","in":"path","description":"ID of the team to update"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/TeamUpdate"}}]},"delete":{"summary":"Deletes team","description":"Deletes an empty team","tags":["Teams"],"parameters":[{"name":"id","in":"path","description":"ID of the team to delete"}]}},"/x/api/v3/teams/{team_id}/users?limit={limit}\u0026offset={offset}":{"get":{"summary":"List all memberships","description":"","tags":["UserMembership"],"parameters":[{"name":"team_id","in":"path","description":"ID of the team to retrieve"},{"name":"limit","in":"path","default":10,"type":"integer","description":"Number of records to fetch"},{"name":"offset","in":"path","default":0,"type":"integer","description":"Offset of records"}],"responses":{"200":{"schema":{"properties":{"data":{"type":"array","description":"List of requested users","items":{"$ref":"#/definitions/UserTeamMembershipIndex"}},"page_total":{"default":1,"type":"integer","description":"Count of total users in current page"},"offset":{"default":0,"type":"integer","description":"Offset in current page"},"previous":{"default":"","type":"string","description":"URL for previous page. This will be empty when current page is first page"},"next":{"default":"https://www.hackerrank.com/x/api/v3/teams/1/users?limit=1\u0026offset=1","type":"string","description":"URL for next page. This will be empty when current page is last page"},"first":{"default":"https://www.hackerrank.com/x/api/v3/teams/1/users?limit=1\u0026offset=0","type":"string","description":"URL for first page."},"last":{"default":"https://www.hackerrank.com/x/api/v3/teams/1/users?limit=1\u0026offset=12","type":"string","description":"URL for last page."},"total":{"default":13,"type":"string","description":"Total items for current query"}},"required":["data","page_total","offset","previous","next","first","last","total"]}}}}},"/x/api/v3/teams/{team_id}/users/{user_id}?license={license}":{"post":{"summary":"Create membership","description":"","tags":["UserMembership"],"parameters":[{"name":"team_id","in":"path","description":"ID of the team"},{"name":"user_id","in":"path","description":"ID of the user"},{"name":"license","in":"path","description":"License with which locked user gets unlocked. Pass this only if the user is locked. License can be recruiter, developer or interviewer"}]}},"/x/api/v3/teams/{team_id}/users/{user_id}":{"get":{"summary":"Retrieve membership","description":"","tags":["UserMembership"],"parameters":[{"name":"team_id","in":"path","description":"ID of the team"},{"name":"user_id","in":"path","description":"ID of the user"}],"responses":{"200":{"schema":{"description":"User membership response","$ref":"#/definitions/UserTeamMembershipShow"}}}},"delete":{"summary":"Removes membership","description":"","tags":["UserMembership"],"parameters":[{"name":"team_id","in":"path","description":"ID of the team"},{"name":"user_id","in":"path","description":"ID of the user"}],"responses":{"204":{"description":"User team membership removed"}}}},"/tests":{"options":{"summary":"Test object","tags":["Tests"],"description":"API allows you to perform CRUD actions on tests resource for your account. As of now, manupulation of questions is not supported in tests API.","responses":{"description":{"schema":{"$ref":"#/definitions/TestsRef"}}}}},"/x/api/v3/tests?limit={limit}\u0026offset={offset}":{"get":{"summary":"List all tests","description":"","tags":["Tests"],"parameters":[{"name":"limit","in":"path","default":10,"type":"integer","description":"Number of records to fetch"},{"name":"offset","in":"path","default":0,"type":"integer","description":"Offset of records"}],"responses":{"200":{"schema":{"properties":{"data":{"type":"array","description":"List of requested tests","items":{"$ref":"#/definitions/TestsIndex"}},"page_total":{"default":1,"type":"integer","description":"Count of total tests in current page"},"offset":{"default":0,"type":"integer","description":"Offset in current page"},"previous":{"default":"","type":"string","description":"URL for previous page. This will be empty when current page is first page"},"next":{"default":"https://www.hackerrank.com/x/api/v3/tests?limit=1\u0026offset=1","type":"string","description":"URL for next page. This will be empty when current page is last page"},"first":{"default":"https://www.hackerrank.com/x/api/v3/tests?limit=1\u0026offset=0","type":"string","description":"URL for first page."},"last":{"default":"https://www.hackerrank.com/x/api/v3/tests?limit=1\u0026offset=12","type":"string","description":"URL for last page."},"total":{"default":13,"type":"string","description":"Total items for current query"}},"required":["data","page_total","offset","previous","next","first","last","total"]}}}}},"/x/api/v3/tests":{"post":{"summary":"Create test","description":"","tags":["Tests"],"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/TestsCreate"}}],"responses":{"200":{"description":"Test response","schema":{"$ref":"#/definitions/TestsShow"}}}}},"/x/api/v3/tests/{id}?additional_fields={additional_fields}":{"get":{"summary":"Retrieve test","description":"","tags":["Tests"],"parameters":[{"name":"id","in":"path","description":"ID of the Test"},{"name":"additional_fields","in":"path","description":"Supported test fields to get detailed info on those fields (Comma separated field names). \nFollowing fields are supported:\n\n        languages, candidate_details, custom_acknowledge_text, cutoff_score, cutoff_score_percentage, candidate_max_score, master_password, hide_compile_test, mcq_incorrect_score, mcq_correct_score, locked_by, secure, short_login_url, public_login_url, shuffle_questions, test_admins, hide_template, enable_acknowledgement, experience, job_roles, invited, in_progress, to_evaluate, qualified, failed, completed, questions_count, predefined, draft, ddna_star_rating_enabled, ats_id, ats_job, ats_perform_as, block_publish, blocked_by_library_access, max_score, public_url, role_ids, enable_proctoring, candidate_tab_switch, track_editor_paste, parent_id, hr_certified, disable_leakage_protection, ai_proctor_frozen_flag, enable_ai_proctor, enable_live_face_detection, enable_candidate_screenshare, enable_hackerrank_app, enable_ai_evaluation, enable_ai_assisted_test, updated_at, sections_data","required":false}],"responses":{"200":{"schema":{"$ref":"#/definitions/TestsShow"}}}}},"/x/api/v3/tests/{id}":{"put":{"summary":"Update test","description":"","tags":["Tests"],"parameters":[{"name":"id","in":"path","description":"ID of the Test"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/TestsUpdate"}}]},"delete":{"summary":"Deletes test","description":"","tags":["Tests"],"parameters":[{"name":"id","in":"path","description":"ID of the test"}],"responses":{"204":{"description":"Test Deleted"}}}},"/x/api/v3/tests/{id}/archive":{"post":{"summary":"Archives test","description":"","tags":["Tests"],"parameters":[{"name":"id","in":"path","description":"ID of the test"}],"responses":{"204":{"description":"Test Archived"}}}},"/x/api/v3/tests/{id}/inviters":{"get":{"summary":"List all inviters for a test","description":"","tags":["Tests"],"parameters":[{"name":"id","in":"path","description":"ID of the test"},{"name":"limit","in":"path","default":10,"type":"integer","description":"Number of records to fetch"},{"name":"offset","in":"path","default":0,"type":"integer","description":"Offset of records"}],"responses":{"200":{"schema":{"properties":{"data":{"type":"array","description":"List of requested users","items":{"$ref":"#/definitions/InvitersIndex"}},"page_total":{"default":1,"type":"integer","description":"Count of total users in current page"},"offset":{"default":0,"type":"integer","description":"Offset in current page"},"previous":{"default":"","type":"string","description":"URL for previous page. This will be empty when current page is first page"},"next":{"default":"https://www.hackerrank.com/x/api/v3/users?limit=1\u0026offset=1","type":"string","description":"URL for next page. This will be empty when current page is last page"},"first":{"default":"https://www.hackerrank.com/x/api/v3/users?limit=1\u0026offset=0","type":"string","description":"URL for first page."},"last":{"default":"https://www.hackerrank.com/x/api/v3/users?limit=1\u0026offset=12","type":"string","description":"URL for last page."},"total":{"default":13,"type":"string","description":"Total items for current query"}},"required":["data","page_total","offset","previous","next","first","last","total"]}}}}},"/candidates":{"options":{"summary":"Test Candidate object","description":"This object represents candidate that are invited or have attempted a test (or both). As such, a candidate object always exists in context of test.","tags":["TestCandidate"],"responses":{"description":{"schema":{"$ref":"#/definitions/TestCandidateRef"}}}}},"/x/api/v3/tests/{test_id}/candidates?limit={limit}\u0026offset={offset}":{"get":{"summary":"List all candidates","description":"","tags":["TestCandidate"],"parameters":[{"name":"test_id","in":"path","description":"ID of the test","required":true},{"name":"limit","in":"path","default":10,"type":"integer","description":"Number of records to fetch"},{"name":"offset","in":"path","default":0,"type":"integer","description":"Offset of records"}],"responses":{"200":{"schema":{"properties":{"data":{"type":"array","description":"List of requested candidates","items":{"$ref":"#/definitions/TestCandidateIndex"}},"page_total":{"default":1,"type":"integer","description":"Count of total candidates in current page"},"offset":{"default":0,"type":"integer","description":"Offset in current page"},"previous":{"default":"","type":"string","description":"URL for previous page. This will be empty when current page is first page"},"next":{"default":"https://www.hackerrank.com/x/api/v3/tests/1/candidates?limit=1\u0026offset=1","type":"string","description":"URL for next page. This will be empty when current page is last page"},"first":{"default":"https://www.hackerrank.com/x/api/v3/tests/1/candidates?limit=1\u0026offset=0","type":"string","description":"URL for first page."},"last":{"default":"https://www.hackerrank.com/x/api/v3/tests/1/candidates?limit=1\u0026offset=12","type":"string","description":"URL for last page."},"total":{"default":13,"type":"string","description":"Total items for current query"}},"required":["data","page_total","offset","previous","next","first","last","total"]}}}}},"/x/api/v3/tests/{test_id}/candidates":{"post":{"summary":"Invite candidate","description":"Invites a single candidate to the test. Note: Multiple invitations are not supported through this endpoint.","tags":["TestCandidate"],"parameters":[{"name":"test_id","in":"path","description":"ID of the test","required":true},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/TestCandidateCreate"}}],"responses":{"200":{"schema":{"required":["test_link","email","id"],"properties":{"test_link":{"type":"string","default":"https://www.hackerrank.com/tests/bdsiod7sd22/login?b=efJ1c2VybmFtZSI6ImRhbm55LnBldGVyc29uQGhff2tlcnJhbmsuY19tIiwidGFzc3dvcmQiOiI0ZTQ4OWJjNSIsImhpZGUiOnRydWV9","description":"A link sent to the candidate where they can attempt the test."},"email":{"type":"string","default":"alice.wonders@email.com","description":"Email address of the candidate."},"id":{"type":"integer","default":"10000","description":"ID of the test candidate."}}}}}}},"/x/api/v3/tests/{test_id}/candidates/{candidate_id}?additional_fields={additional_fields}":{"get":{"summary":"Show candidate","description":"","tags":["TestCandidate"],"parameters":[{"name":"test_id","in":"path","description":"ID of the test","required":true},{"name":"candidate_id","in":"path","description":"ID of the candidate","required":true},{"name":"additional_fields","in":"path","description":"Supported test candidate fields to get detailed info on those fields (Comma separated field names). For eg: 'questions,scores_sections_split'. This is used to get detailed information on the supported test candidate fields. Some supported fields are : 'questions' to get score details on each question, 'scores_sections_split' to get info on each test section, 'user' to get user details, 'test' to get test details, etc","required":false}],"responses":{"200":{"schema":{"$ref":"#/definitions/TestCandidateShow"}}}}},"/x/api/v3/tests/{test_id}/candidates/{candidate_id}":{"put":{"summary":"Update candidate","description":"","tags":["TestCandidate"],"parameters":[{"name":"test_id","in":"path","description":"ID of the test","required":true},{"name":"candidate_id","in":"path","description":"ID of the candidate","required":true},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/TestCandidateUpdate"}}],"responses":{"200":{"schema":{"$ref":"#/definitions/TestCandidateShow"}}}}},"/x/api/v3/tests/{test_id}/candidates/{candidate_id}/pdf?format=url":{"get":{"summary":"Get report pdf","description":"In case of a 503 HTTP Status, please try downloading the pdf after some time.","tags":["TestCandidate"],"parameters":[{"name":"test_id","in":"path","description":"ID of the test","required":true},{"name":"candidate_id","in":"path","description":"ID of the candidate","required":true}]}},"/x/api/v3/tests/{test_id}/candidates/{candidate_id}/report":{"delete":{"summary":"Delete report","description":"","tags":["TestCandidate"],"parameters":[{"name":"test_id","in":"path","description":"ID of the test","required":true},{"name":"candidate_id","in":"path","description":"ID of the candidate","required":true}]}},"/x/api/v3/tests/{test_id}/candidates/{candidate_id}/invite":{"delete":{"summary":"Cancel invite","description":"","tags":["TestCandidate"],"parameters":[{"name":"test_id","in":"path","description":"ID of the test","required":true},{"name":"candidate_id","in":"path","description":"ID of the candidate","required":true}]}},"/x/api/v3/tests/{test_id}/candidates/search?search={search}\u0026limit={limit}\u0026offset={offset}":{"get":{"summary":"Search candidates","description":"","tags":["TestCandidate"],"parameters":[{"name":"test_id","in":"path","description":"ID of the test","required":true},{"name":"search","in":"path","description":"Name or email","required":true},{"name":"limit","in":"path","default":10,"type":"integer","description":"Number of records to fetch"},{"name":"offset","in":"path","default":0,"type":"integer","description":"Offset of records"}],"responses":{"200":{"schema":{"properties":{"data":{"type":"array","description":"List of requested candidates","items":{"$ref":"#/definitions/TestCandidateIndex"}},"page_total":{"default":1,"type":"integer","description":"Count of total candidates in current page"},"offset":{"default":0,"type":"integer","description":"Offset in current page"},"previous":{"default":"","type":"string","description":"URL for previous page. This will be empty when current page is first page"},"next":{"default":"https://www.hackerrank.com/x/api/v3/tests/1/candidates?limit=1\u0026offset=1","type":"string","description":"URL for next page. This will be empty when current page is last page"},"first":{"default":"https://www.hackerrank.com/x/api/v3/tests/1/candidates?limit=1\u0026offset=0","type":"string","description":"URL for first page."},"last":{"default":"https://www.hackerrank.com/x/api/v3/tests/1/candidates?limit=1\u0026offset=12","type":"string","description":"URL for last page."},"total":{"default":13,"type":"string","description":"Total items for current query"}},"required":["data","page_total","offset","previous","next","first","last","total"]}}}}},"/x/api/v3/interviews":{"get":{"summary":"List all interviews","description":"Returns the list of your interviews","tags":["Interviews"],"parameters":[{"name":"limit","in":"path","default":10,"type":"integer","description":"Number of records to fetch"},{"name":"offset","in":"path","default":0,"type":"integer","description":"Offset of records"},{"name":"created_at","in":"query","description":"It is the datetime when the interview was created. It needs to be passed in the form of \"from..to\". For example: 2024-01-21T13:36:21+0000..2024-01-22T00:00:00+0000. Both \"from\" and \"to\" are in form of YYYY-MM-DDThh:mm:ss±zzz where zzz is offset form UTC timezone in form of hh:mm including a leading zero for single digit hour value. All time values are 24 hour format","required":false},{"name":"updated_at","in":"query","description":"It is the datetime when the interview was updated. It needs to be passed in the form of \"from..to\". For example: 2024-01-21T13:36:21+0000..2024-01-22T00:00:00+0000. Both \"from\" and \"to\" are in form of YYYY-MM-DDThh:mm:ss±zzz where zzz is offset form UTC timezone in form of hh:mm including a leading zero for single digit hour value. All time values are 24 hour format","required":false},{"name":"ended_at","in":"query","description":"It is the datetime when the interview ended. It needs to be passed in the form of \"from..to\". For example: 2024-01-21T13:36:21+0000..2024-01-22T00:00:00+0000. Both \"from\" and \"to\" are in form of YYYY-MM-DDThh:mm:ss±zzz where zzz is offset form UTC timezone in form of hh:mm including a leading zero for single digit hour value. All time values are 24 hour format","required":false},{"name":"user","in":"query","description":"Filter by ID of the user who created the interview","required":false},{"name":"interviewers","in":"query","description":"Filter by ID of any one interviewer","required":false},{"name":"access","in":"query","description":"Filter interviews based on access rights. It can have the following values:\n        - owned\n        - shared","required":false},{"name":"current_status","in":"query","description":"Filters all interviews based on the current status of the interview.\n\n        0: New\n        1: Active\n        2: Ended\n        3: Paused","required":false},{"name":"order_by","in":"query","description":"Sort the interviews in a specific order. It can have the following values:\n        - title\n        - id (ID of the interview)\n        - created_at\n        - ended_at\n        - current_status\n        - user","required":false},{"name":"order_dir","in":"query","description":"Defines the direction of sorting. This parameter is required to be passed if you are using \"order_by\". It can have the following values:\n        - asc: Ascending order\n        - desc: Descending order","required":false}],"responses":{"200":{"schema":{"properties":{"data":{"type":"array","description":"List of requested interviews","items":{"$ref":"#/definitions/InterviewIndex"}},"page_total":{"default":1,"type":"integer","description":"Count of total interviews in current page"},"offset":{"default":0,"type":"integer","description":"Offset in current page"},"previous":{"default":"","type":"string","description":"URL for previous page. This will be empty when current page is first page"},"next":{"default":"https://www.hackerrank.com/x/api/v3/interviews?limit=1\u0026offset=1","type":"string","description":"URL for next page. This will be empty when current page is last page"},"first":{"default":"https://www.hackerrank.com/x/api/v3/interviews?limit=1\u0026offset=0","type":"string","description":"URL for first page."},"last":{"default":"https://www.hackerrank.com/x/api/v3/interviews?limit=1\u0026offset=12","type":"string","description":"URL for last page."},"total":{"default":13,"type":"string","description":"Total items for current query"}},"required":["data","page_total","offset","previous","next","first","last","total"]}}}},"post":{"summary":"Create interview","description":"","tags":["Interviews"],"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/InterviewCreate"}}],"responses":{"200":{"schema":{"$ref":"#/definitions/InterviewShow"}}}}},"/x/api/v3/interviews/{interview_id}":{"get":{"summary":"Show interview","description":"","tags":["Interviews"],"parameters":[{"name":"interview_id","in":"path","description":"ID of interview","required":true}],"responses":{"200":{"schema":{"$ref":"#/definitions/InterviewShow"}}}},"put":{"summary":"Update interview","description":"","tags":["Interviews"],"parameters":[{"name":"interview_id","in":"path","description":"ID of interview","required":true},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/InterviewUpdate"}}],"responses":{"200":{"schema":{"$ref":"#/definitions/InterviewShow"}}}},"delete":{"summary":"Delete interview","description":"","tags":["Interviews"],"parameters":[{"name":"interview_id","in":"path","description":"ID of interview","required":true}]}},"/x/api/v3/interviews/{interview_id}/transcript":{"get":{"summary":"Show interview transcript","description":"Returns the transcript of your interview","tags":["Interviews"],"parameters":[{"name":"interview_id","in":"path","description":"ID of interview","required":true}],"responses":{"200":{"schema":{"$ref":"#/definitions/InterviewTranscriptShow"}}}}},"/x/api/v3/interview_templates":{"post":{"summary":"Create interview template","description":"Creates a new interview template. Requires CREATE_EDIT entitlement when flexible roles is enabled. Question IDs and skill unique IDs must be accessible to the current user.","tags":["Interview Templates"],"parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"Name of the interview template","example":"Frontend Developer Interview Template"},"role_id":{"type":"string","description":"Role unique ID for the template","example":"8b1o41tbpiq"},"team_share":{"type":"integer","description":"Team sharing permission level (0: None, 1: Read, 2: Write, 3: Delete). Defaults to 1 (Read) if not provided","enum":[0,1,2,3]},"question_ids":{"type":"array","description":"Array of question IDs to add to the template","example":[1939659],"items":{"type":"integer"}}}}}],"responses":{"200":{"description":"Interview template response","schema":{"$ref":"#/definitions/InterviewTemplateShow"}}}}},"/x/api/v3/interview_templates?limit={limit}\u0026offset={offset}":{"get":{"summary":"List all interview templates","description":"Returns the list of interview templates accessible to the user","tags":["Interview Templates"],"parameters":[{"name":"limit","in":"path","default":10,"type":"integer","description":"Number of records to fetch"},{"name":"offset","in":"path","default":0,"type":"integer","description":"Offset of records"},{"name":"filter","in":"query","description":"Filter interview templates by ownership. It can have the following values:\n        - owned: Templates created by the current user\n        - shared: Templates shared with the current user (excluding templates created by the current user)","required":false}],"responses":{"200":{"schema":{"properties":{"data":{"type":"array","description":"List of requested interview_templates","items":{"$ref":"#/definitions/InterviewTemplateIndex"}},"page_total":{"default":1,"type":"integer","description":"Count of total interview_templates in current page"},"offset":{"default":0,"type":"integer","description":"Offset in current page"},"previous":{"default":"","type":"string","description":"URL for previous page. This will be empty when current page is first page"},"next":{"default":"https://www.hackerrank.com/x/api/v3/interview_templates?limit=1\u0026offset=1","type":"string","description":"URL for next page. This will be empty when current page is last page"},"first":{"default":"https://www.hackerrank.com/x/api/v3/interview_templates?limit=1\u0026offset=0","type":"string","description":"URL for first page."},"last":{"default":"https://www.hackerrank.com/x/api/v3/interview_templates?limit=1\u0026offset=12","type":"string","description":"URL for last page."},"total":{"default":13,"type":"string","description":"Total items for current query"}},"required":["data","page_total","offset","previous","next","first","last","total"]}}}}},"/x/api/v3/interview_templates/{template_id}":{"get":{"summary":"Show interview template","description":"Returns the details of a single interview template.","tags":["Interview Templates"],"parameters":[{"name":"template_id","in":"path","type":"integer","description":"ID of the interview template to retrieve","required":true}],"responses":{"200":{"description":"Interview template response","schema":{"$ref":"#/definitions/InterviewTemplateShow"}}}},"put":{"summary":"Update interview template","description":"Updates an existing interview template. Only the template owner, company admins with explicit sharing enabled, or users with explicit editor access can update. Only provided fields are updated; omitted fields remain unchanged.","tags":["Interview Templates"],"parameters":[{"name":"template_id","in":"path","type":"integer","description":"ID of the interview template to update","required":true},{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"name":{"type":"string","description":"Name of the interview template","example":"Frontend Developer Interview Template"},"role_id":{"type":"string","description":"Role unique ID for the template","example":"8b1o41tbpiq"},"team_share":{"type":"integer","description":"Team sharing permission level (0: None, 1: Read, 2: Write, 3: Delete)","enum":[0,1,2,3]},"scorecard_id":{"type":"integer","description":"ID of the scorecard to associate with the template","example":98765}}}}],"responses":{"200":{"description":"Interview template response","schema":{"$ref":"#/definitions/InterviewTemplateShow"}}}},"delete":{"summary":"Delete interview template","description":"Deletes an interview template. Only the template owner or company admins with explicit sharing enabled can delete a template.","tags":["Interview Templates"],"parameters":[{"name":"template_id","in":"path","type":"integer","description":"ID of the interview template to delete","required":true}],"responses":{"200":{"description":"Interview template deleted successfully","schema":{"properties":{"message":{"type":"string","example":"Success"}}}}}}},"/questions":{"options":{"summary":"Questions object","description":"This object represents questions available in this account.","tags":["Questions"],"responses":{"description":{"schema":{"$ref":"#/definitions/QuestionRef"}}}}},"/x/api/v3/questions":{"get":{"summary":"List all questions","description":"","tags":["Questions"],"parameters":[{"name":"status","in":"query","description":"Question status (active/archived)","required":false},{"name":"access","in":"query","description":"Access type (library, owned, shared) (comma separated values)","required":false},{"name":"difficulty","in":"query","description":"Difficulty of questions (comma separated values)","required":false},{"name":"type","in":"query","description":"Type of questions (comma separated values)","required":false},{"name":"owner","in":"query","description":"User ids (comma separated values)","required":false},{"name":"tags","in":"query","description":"Tags (comma separated values)","required":false},{"name":"skills","in":"query","description":"Skills (comma separated values)","required":false},{"name":"languages","in":"query","description":"Languages allowed for the question (comma separated values)","required":false}],"responses":{"200":{"schema":{"properties":{"data":{"type":"array","description":"List of requested question","items":{"$ref":"#/definitions/QuestionIndex"}},"page_total":{"default":1,"type":"integer","description":"Count of total question in current page"},"offset":{"default":0,"type":"integer","description":"Offset in current page"},"previous":{"default":"","type":"string","description":"URL for previous page. This will be empty when current page is first page"},"next":{"default":"https://www.hackerrank.com/x/api/v3/question?limit=1\u0026offset=1","type":"string","description":"URL for next page. This will be empty when current page is last page"},"first":{"default":"https://www.hackerrank.com/x/api/v3/question?limit=1\u0026offset=0","type":"string","description":"URL for first page."},"last":{"default":"https://www.hackerrank.com/x/api/v3/question?limit=1\u0026offset=12","type":"string","description":"URL for last page."},"total":{"default":13,"type":"string","description":"Total items for current query"}},"required":["data","page_total","offset","previous","next","first","last","total"]}}}},"post":{"summary":"Create Question","description":"","tags":["Questions"],"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/QuestionCreate"}}],"responses":{"200":{"schema":{"$ref":"#/definitions/QuestionShow"}}}}},"/x/api/v3/questions/{question_id}":{"get":{"summary":"Show question","description":"","tags":["Questions"],"parameters":[{"name":"question_id","in":"path","description":"ID of question","required":true}],"responses":{"200":{"schema":{"$ref":"#/definitions/QuestionShow"}}}},"put":{"summary":"Update question","description":"","tags":["Questions"],"parameters":[{"name":"question_id","in":"path","description":"ID of question","required":true},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/QuestionUpdate"}}],"responses":{"200":{"schema":{"$ref":"#/definitions/QuestionShow"}}}}},"/x/api/v3/questions/{question_id}/generate":{"put":{"summary":"Generate codestubs","description":"","tags":["Questions"],"parameters":[{"name":"question_id","in":"path","description":"ID of question","required":true},{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"type":{"type":"string","default":"code","description":"Type of question","enum":["code","approx"]},"functionName":{"type":"string","default":"function_name","description":"Name of the function"},"functionParams":{"type":"string","default":"INTEGER param","description":"Parameters for the function. There can be more than one parameters. Example: \u003ccode\u003eINTEGER param1 STRING param2\u003c/code\u003e"},"functionReturn":{"type":"string","default":"INTEGER","description":"Return type of the function"},"allowedLanguages":{"type":"string","default":"C, Clojure","description":"Languages available for codestub generation. This is only available for code/approx question types."}}}}],"responses":{"200":{"schema":{"type":"object","properties":{"functionName":{"type":"string","default":"function_name","description":"Name of the function"},"functionParams":{"type":"string","default":"INTEGER param","description":"Parameters for the function. There can be more than one parameters. Example: \u003ccode\u003eINTEGER param1 STRING param2\u003c/code\u003e"},"functionReturn":{"type":"string","default":"INTEGER","description":"Return type of the function"},"allowedLanguages":{"type":"string","default":"C, Clojure","description":"Languages available for codestub generation. This is only available for code/approx question types."},"c_template_head":{"type":"string","default":"#include \u003cassert.h\u003e\n#include \u003cctype.h\u003e\n#include \u003climits.h\u003e\n#include \u003cmath.h\u003e\n#include \u003cstdbool.h\u003e\n#include \u003cstddef.h\u003e\n#include \u003cstdint.h\u003e\n#include \u003cstdio.h\u003e\n#include \u003cstdlib.h\u003e\n#include \u003cstring.h\u003e\n\nchar* readline();\nchar* ltrim(char*);\nchar* rtrim(char*);\n\nint parse_int(char*);\n\n","description":"Head of the codestub generated for C"},"c_template_tail":{"type":"string","default":"int main()\n{\n    FILE* fptr = fopen(getenv(\"OUTPUT_PATH\"), \"w\");\n\n    int param = parse_int(ltrim(rtrim(readline())));\n\n    int result = function_name(param);\n\n    fprintf(fptr, \"%d\\n\", result);\n\n    fclose(fptr);\n\n    return 0;\n}\n\nchar* readline() {\n    size_t alloc_length = 1024;\n    size_t data_length = 0;\n\n    char* data = malloc(alloc_length);\n\n    while (true) {\n        char* cursor = data + data_length;\n        char* line = fgets(cursor, alloc_length - data_length, stdin);\n\n        if (!line) {\n            break;\n        }\n\n        data_length += strlen(cursor);\n\n        if (data_length \u003c alloc_length - 1 || data[data_length - 1] == '\\n') {\n            break;\n        }\n\n        alloc_length \u003c\u003c= 1;\n\n        data = realloc(data, alloc_length);\n\n        if (!data) {\n            data = '\\0';\n\n            break;\n        }\n    }\n\n    if (data[data_length - 1] == '\\n') {\n        data[data_length - 1] = '\\0';\n\n        data = realloc(data, data_length);\n\n        if (!data) {\n            data = '\\0';\n        }\n    } else {\n        data = realloc(data, data_length + 1);\n\n        if (!data) {\n            data = '\\0';\n        } else {\n            data[data_length] = '\\0';\n        }\n    }\n\n    return data;\n}\n\nchar* ltrim(char* str) {\n    if (!str) {\n        return '\\0';\n    }\n\n    if (!*str) {\n        return str;\n    }\n\n    while (*str != '\\0' \u0026\u0026 isspace(*str)) {\n        str++;\n    }\n\n    return str;\n}\n\nchar* rtrim(char* str) {\n    if (!str) {\n        return '\\0';\n    }\n\n    if (!*str) {\n        return str;\n    }\n\n    char* end = str + strlen(str) - 1;\n\n    while (end \u003e= str \u0026\u0026 isspace(*end)) {\n        end--;\n    }\n\n    *(end + 1) = '\\0';\n\n    return str;\n}\n\nint parse_int(char* str) {\n    char* endptr;\n    int value = strtol(str, \u0026endptr, 10);\n\n    if (endptr == str || *endptr != '\\0') {\n        exit(EXIT_FAILURE);\n    }\n\n    return value;\n}\n","description":"Tail of the codestub generated for C"},"c_template":{"type":"string","default":"/*\n * Complete the 'function_name' function below.\n *\n * The function is expected to return an INTEGER.\n * The function accepts INTEGER param as parameter.\n */\n\nint function_name(int param) {\n\n}\n\n","description":"Body of the codestub generated for C"},"clojure_template_head":{"type":"string","default":"\n\n","description":"Head of the codestub generated for Clojure"},"clojure_template_tail":{"type":"string","default":"(def fptr (get (System/getenv) \"OUTPUT_PATH\"))\n\n(def param (Integer/parseInt (clojure.string/trim (read-line))))\n\n(def result (function_name param))\n\n(spit fptr (str result \"\\n\") :append true)\n","description":"Tail of the codestub generated for Clojure"},"clojure_template":{"type":"string","default":";\n; Complete the 'function_name' function below.\n;\n; The function is expected to return an INTEGER.\n; The function accepts INTEGER param as parameter.\n;\n\n(defn function_name [param]\n\n)\n\n","description":"Body of the codestub generated for Clojure"},"template_type":{"type":"string","default":"1","description":"Type of template"}}}}}}},"/x/api/v3/questions/{question_id}/custom_codestubs":{"put":{"summary":"Update codestubs","description":"","tags":["Questions"],"parameters":[{"name":"question_id","in":"path","description":"ID of question","required":true},{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"templates":{"type":"array","default":[{"language":"c","head":"","body":"int main()","tail":""},{"language":"cpp","head":"","body":"int main()","tail":""}],"required":true,"description":"List of the template","items":{"type":"object","properties":{"language":{"type":"string","default":"c","description":"Language of the template"},"head":{"type":"string","default":"","description":"Head of the template"},"body":{"type":"string","default":"","required":true,"description":"template"},"tail":{"type":"string","default":"","description":"Tail of the template"}}}}}}}]}},"/x/api/v3/questions/{question_id}/testcases":{"post":{"summary":"Add testcase","description":"","tags":["Questions"],"parameters":[{"name":"question_id","in":"path","description":"ID of question","required":true},{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"explanation":{"type":"string","default":"","description":"The explanation for the testcase"},"input":{"type":"string","default":"input","description":"Input for the testcase"},"output":{"type":"string","default":"output","description":"Output for the testcase"},"name":{"type":"string","default":"name","description":"Name of the testcase"},"qid":{"type":"integer","default":1,"description":"Question id of the question to which testcase will be added"},"sample":{"type":"integer","default":false,"description":"True if it is a sample testcase"},"score":{"type":"integer","default":10,"description":"Score of the testcase"},"type":{"type":"string","default":"easy","description":"Type of the testcase"}}}}]}},"/x/api/v3/questions/{question_id}/testcases/{testcase_id}":{"put":{"summary":"Update testcase","description":"","tags":["Questions"],"parameters":[{"name":"question_id","in":"path","description":"ID of question","required":true},{"name":"testcase_id","in":"path","description":"Testcase ID","required":true},{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"explanation":{"type":"string","default":"","description":"The explanation for the testcase"},"input":{"type":"string","default":"input","description":"Input for the testcase"},"output":{"type":"string","default":"output","description":"Output for the testcase"},"name":{"type":"string","default":"name","description":"Name of the testcase"},"qid":{"type":"integer","default":1,"description":"Question id of the question to which testcase will be added"},"sample":{"type":"integer","default":false,"description":"True if it is a sample testcase"},"score":{"type":"integer","default":10,"description":"Score of the testcase"},"type":{"type":"string","default":"easy","description":"Type of the testcase"}}}}]},"delete":{"summary":"Delete testcase","description":"","tags":["Questions"],"parameters":[{"name":"question_id","in":"path","description":"ID of question","required":true},{"name":"testcase_id","in":"path","description":"Testcase ID","required":true}]}},"/x/api/v3/questions/{question_id}/testcases/delete_all":{"delete":{"summary":"Delete All testcases","description":"","tags":["Questions"],"parameters":[{"name":"question_id","in":"path","description":"ID of question","required":true}]}},"/x/api/v3/templates":{"get":{"summary":"List all invite templates","description":"","tags":["Templates"],"parameters":[{"name":"access","in":"query","description":"Access type (shared/owned)","required":false}],"responses":{"200":{"schema":{"properties":{"data":{"type":"array","description":"List of requested templates","items":{"$ref":"#/definitions/TemplateIndex"}},"page_total":{"default":1,"type":"integer","description":"Count of total templates in current page"},"offset":{"default":0,"type":"integer","description":"Offset in current page"},"previous":{"default":"","type":"string","description":"URL for previous page. This will be empty when current page is first page"},"next":{"default":"https://www.hackerrank.com/x/api/v3/templates?limit=1\u0026offset=1","type":"string","description":"URL for next page. This will be empty when current page is last page"},"first":{"default":"https://www.hackerrank.com/x/api/v3/templates?limit=1\u0026offset=0","type":"string","description":"URL for first page."},"last":{"default":"https://www.hackerrank.com/x/api/v3/templates?limit=1\u0026offset=12","type":"string","description":"URL for last page."},"total":{"default":13,"type":"string","description":"Total items for current query"}},"required":["data","page_total","offset","previous","next","first","last","total"]}}}}},"/x/api/v3/templates/{template_id}":{"get":{"summary":"Show invite template","description":"","tags":["Templates"],"parameters":[{"name":"template_id","in":"path","description":"ID of template","required":true}],"responses":{"200":{"schema":{"$ref":"#/definitions/TemplateShow"}}}}},"/auditlogs":{"options":{"summary":"Audit Log Object","description":"This object represents audit-log structure for this account.","tags":["AuditLogs"],"responses":{"description":{"schema":{"$ref":"#/definitions/AuditLogRef"}}}}},"/x/api/v3/audit_log?limit={limit}\u0026offset={offset}\u0026user_id={user_id}":{"get":{"summary":"List all audit logs","description":"Returns the list of audit logs.","tags":["AuditLogs"],"parameters":[{"name":"limit","in":"path","default":10,"type":"integer","description":"Number of records to fetch"},{"name":"offset","in":"path","default":0,"type":"integer","description":"Offset of records"}],"responses":{"200":{"schema":{"properties":{"data":{"type":"array","description":"List of requested audit_logs","items":{"$ref":"#/definitions/AuditLogIndex"}},"page_total":{"default":1,"type":"integer","description":"Count of total audit_logs in current page"},"offset":{"default":0,"type":"integer","description":"Offset in current page"},"previous":{"default":"","type":"string","description":"URL for previous page. This will be empty when current page is first page"},"next":{"default":"https://www.hackerrank.com/x/api/v3/audit_logs?limit=1\u0026offset=1","type":"string","description":"URL for next page. This will be empty when current page is last page"},"first":{"default":"https://www.hackerrank.com/x/api/v3/audit_logs?limit=1\u0026offset=0","type":"string","description":"URL for first page."},"last":{"default":"https://www.hackerrank.com/x/api/v3/audit_logs?limit=1\u0026offset=12","type":"string","description":"URL for last page."},"total":{"default":13,"type":"string","description":"Total items for current query"}},"required":["data","page_total","offset","previous","next","first","last","total"]}}}}},"/x/api/v3/ats/codescreen":{"post":{"summary":"ATS Candidate Invite","description":"Use this API when sending an invite from an ATS system. This API requires a requisition_id and candidate_id, which allows HackerRank to track a single candidate across multiple requisitions who are sent the same test. This API is only enabled for approved integrations, a partner key from HackerRank is required in the request.","tags":["ATS CodeScreen"],"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/ATSCodeScreenCreate"}}],"responses":{"200":{"schema":{"required":["test_link","email","id"],"properties":{"test_link":{"type":"string","default":"https://www.hackerrank.com/tests/bdsiod7sd22/login?b=efJ1c2VybmFtZSI6ImRhbm55LnBldGVyc29uQGhff2tlcnJhbmsuY19tIiwidGFzc3dvcmQiOiI0ZTQ4OWJjNSIsImhpZGUiOnRydWV9","description":"A link sent to the candidate where they can attempt the test."},"email":{"type":"string","default":"alice.wonders@email.com","description":"Email address of the candidate."},"id":{"type":"integer","default":"10000","description":"ID of the test candidate."}}}}}}},"/x/api/v3/ats/codepair":{"post":{"summary":"ATS Interview Invite","description":"Use this API when sending an interview invite from an ATS system. This API requires a title, requisition_id and candidate_id. This API is only enabled for approved integrations, a partner key from HackerRank is required in the request.","tags":["ATS Codepair"],"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/ATSCodePairCreate"}}],"responses":{"200":{"schema":{"$ref":"#/definitions/InterviewShow"}}}}},"https://services.hackerrank.com/scim/v2":{"options":{"summary":"Overview","description":"\u003cp\u003eProvision and manage user accounts and groups with the HackerRank SCIM v2.0 API. SCIM is used by Single Sign-On (SSO) services and identity providers to manage people across a variety of services. Read more at: https://www.rfc-editor.org/rfc/rfc7644.html\u003c/p\u003e\n                          \u003cp\u003eThe HackerRank SCIM v2 API Endpoints use the following base URL:\n                          \u003ccode\u003ehttps://services.hackerrank.com/scim/v2\u003c/code\u003e\n                          \u003cp\u003eThe API Key to be used for SCIM can be found under SSO settings in HackerRank: https://www.hackerrank.com/work/settings/sso\u003c/p\u003e","tags":["SCIM v2"]}},"/Users?limit={limit}\u0026offset={offset}":{"get":{"summary":"List Users","description":"\u003cp\u003eReturns the list of your users. When returning a large list of users, your SCIM implementation must support pagination.\u003c/p\u003e\n                          \u003cp\u003eIn order to retrieve additional resources, the offset query parameter can be incremented for subsequent requests.\u003c/p\u003e","tags":["SCIM v2"],"parameters":[{"name":"limit","in":"path","default":10,"type":"integer","description":"Number of records to fetch"},{"name":"offset","in":"path","default":0,"type":"integer","description":"Offset of records"}],"responses":{"200":{"schema":{"properties":{"schemas":{"type":"array","description":"SCIM Schema","default":["urn:ietf:params:scim:schemas:core:2.0:ListResponse"]},"Resources":{"type":"array","description":"List of requested Users","items":{"$ref":"#/definitions/SCIMUserEntryIndex"}},"startIndex":{"default":0,"type":"integer","description":"Starting index of Users"},"itemsPerPage":{"default":1,"type":"integer","description":"Count of Users per page"},"totalResults":{"default":1,"type":"integer","description":"Total items for current query"}},"required":["Resources","startIndex","itemsPerPage","totalResults"]}}}}},"/Users":{"post":{"summary":"Create User","description":"Create a new user object.","tags":["SCIM v2"],"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/SCIMUserCreate"}}],"responses":{"201":{"description":"User response","schema":{"$ref":"#/definitions/SCIMUserShow"}}}}},"/Users/{id}":{"get":{"summary":"Retrieve User","description":"Retrieves the details of an existing user. You need only supply the unique customer identifier that was returned upon user creation.","tags":["SCIM v2"],"parameters":[{"name":"id","in":"path","type":"string","description":"ID of user to retrieve","schema":{"$ref":"#/definitions/SCIMUserShow"}}],"responses":{"200":{"description":"User response","schema":{"$ref":"#/definitions/SCIMUserShow"}}}},"put":{"summary":"Edit User - PUT","description":"Updates the specified user by setting the values of the parameters passed. Any parameters not provided will be left unchanged. This request accepts mostly the same arguments as the user creation call.","tags":["SCIM v2"],"parameters":[{"name":"id","in":"path","type":"string","description":"ID of user to update"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/SCIMUserUpdate"}}],"responses":{"200":{"description":"User response","schema":{"$ref":"#/definitions/SCIMUserShow"}}}},"patch":{"summary":"Edit User - PATCH","description":"Updates the specified user by setting the values of the parameters passed. Any parameters not provided will be left unchanged. This request accepts mostly the same arguments as the user creation call.","tags":["SCIM v2"],"parameters":[{"name":"id","in":"path","type":"string","description":"ID of user to update"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/SCIMPatchCreate","name":"Operations"}}],"responses":{"200":{"description":"User response","schema":{"properties":{"schemas":{"type":"array","description":"SCIM Schema","default":["urn:ietf:params:scim:schemas:core:2.0:User"]},"message":{"type":"string","description":"Response message","default":"Successful transaction"}},"required":["message"]}}}},"delete":{"summary":"Lock User","description":"Lock a user. This will also remove user from all the team that they are currently part of.","tags":["SCIM v2"],"parameters":[{"name":"id","in":"path","type":"string","description":"ID of user to lock"}],"responses":{"204":{"description":"User locked"}}}},"/Groups?limit={limit}\u0026offset={offset}":{"get":{"summary":"List Teams","description":"\u003cp\u003eReturns the list of your teams. When returning a large list of teams, your SCIM implementation must support pagination.\u003c/p\u003e\n                          \u003cp\u003eIn order to retrieve additional resources, the offset query parameter can be incremented for subsequent requests.\u003c/p\u003e","tags":["SCIM v2"],"parameters":[{"name":"limit","in":"path","default":10,"type":"integer","description":"Number of records to fetch"},{"name":"offset","in":"path","default":0,"type":"integer","description":"Offset of records"}],"responses":{"200":{"schema":{"properties":{"schemas":{"type":"array","description":"SCIM Schema","default":["urn:ietf:params:scim:schemas:core:2.0:ListResponse"]},"Resources":{"type":"array","description":"List of requested Teams","items":{"$ref":"#/definitions/SCIMTeamEntryIndex"}},"startIndex":{"default":0,"type":"integer","description":"Starting index of Teams"},"itemsPerPage":{"default":1,"type":"integer","description":"Count of Teams per page"},"totalResults":{"default":1,"type":"integer","description":"Total items for current query"}},"required":["Resources","startIndex","itemsPerPage","totalResults"]}}}}},"/Groups":{"post":{"summary":"Create Team","description":"Create a new team object","tags":["SCIM v2"],"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/SCIMTeamCreate"}}],"responses":{"200":{"description":"Team response","schema":{"$ref":"#/definitions/SCIMTeamShow"}}}}},"/Groups/{id}":{"get":{"summary":"Retrieve Team","description":"Retrieves the details of an existing Team. You need only supply the unique customer identifier that was returned upon Team creation.","tags":["SCIM v2"],"parameters":[{"name":"id","in":"path","description":"ID of the team to retrieve"}],"responses":{"200":{"description":"Team response","schema":{"$ref":"#/definitions/SCIMTeamShow"}}}},"patch":{"summary":"Update Team","description":"Update the team's information using the operations provided.","tags":["SCIM v2"],"parameters":[{"name":"id","in":"path","description":"ID of the team to update"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/SCIMPatchCreate","name":"Operations"}}],"responses":{"200":{"description":"Team response","schema":{"properties":{"schemas":{"type":"array","description":"SCIM Schema","default":["urn:ietf:params:scim:schemas:core:2.0:Group"]},"message":{"type":"string","description":"Response message","default":"Successful transaction"}},"required":["message"]}}}},"delete":{"summary":"Deprovision Team","description":"Locks all HackerRank Users belonging to this Team.","tags":["SCIM v2"],"parameters":[{"name":"id","in":"path","type":"string","description":"ID of the Team to lock"}],"responses":{"204":{"description":"Team locked"}}}}},"definitions":{"UserUpdate":{"title":"User","properties":{"firstname":{"type":"string","description":"First name of user","default":"Mark"},"lastname":{"type":"string","description":"last name of user","default":"Peirson"},"country":{"type":"string","description":"country of user","default":"U.S.A."},"role":{"type":"string","description":"When role is admin, it defaults to recruiter. Role of user","default":"recruiter","enum":["recruiter","developer","interviewer","admin"]},"phone":{"type":"string","description":"Phone number of the user","default":"+1-202-28490"},"questions_permission":{"type":"integer","description":"Whether user has permission to create questions","default":3,"enum":[0,3]},"tests_permission":{"type":"integer","description":"Whether user has permission to create tests","default":3,"enum":[0,3]},"interviews_permission":{"type":"integer","description":"Whether user has permission to create interviews","default":3,"enum":[0,3]},"candidates_permission":{"type":"integer","description":"Whether user has permission to create candidates","default":3,"enum":[0,3]},"shared_questions_permission":{"type":"integer","description":"Whether user has permission to view/edit/delete questions shared with it.","default":0,"enum":[0,1,2,3]},"shared_tests_permission":{"type":"integer","description":"Whether user has permission to view/edit/delete tests shared with it.","default":0,"enum":[0,1,2,3]},"shared_interviews_permission":{"type":"integer","description":"Whether user has permission to view/edit/delete interviews shared with it.","default":0,"enum":[0,1,2,3]},"shared_candidates_permission":{"type":"integer","description":"Whether user has permission to view/edit/delete candidates shared with it.","default":0,"enum":[0,1,2,3]},"company_admin":{"type":"boolean","description":"Whether the user is a company admin or not.","default":false},"team_admin":{"type":"boolean","description":"Whether the user is a team admin of the teams that it is a part of.","default":false}},"required":["firstname","lastname","country","role","phone","questions_permission","tests_permission","interviews_permission","candidates_permission","shared_questions_permission","shared_tests_permission","shared_interviews_permission","shared_candidates_permission","company_admin","team_admin"]},"UserCreate":{"title":"User","properties":{"email":{"type":"string","description":"Email address of user","default":"mark@example.com"},"firstname":{"type":"string","description":"First name of user","default":"Mark"},"lastname":{"type":"string","description":"last name of user","default":"Peirson"},"country":{"type":"string","description":"country of user","default":"U.S.A."},"role":{"type":"string","description":"When role is admin, it defaults to recruiter. Role of user","default":"recruiter","enum":["recruiter","developer","interviewer","admin"]},"send_email":{"type":"boolean","description":"Whether to send activation mail to user. Please note that this should be set to false only when you are using SSO to login to HackerRank","default":true},"phone":{"type":"string","description":"Phone number of the user","default":"+1-202-28490"},"questions_permission":{"type":"integer","description":"Whether user has permission to create questions","default":3,"enum":[0,3]},"tests_permission":{"type":"integer","description":"Whether user has permission to create tests","default":3,"enum":[0,3]},"interviews_permission":{"type":"integer","description":"Whether user has permission to create interviews","default":3,"enum":[0,3]},"candidates_permission":{"type":"integer","description":"Whether user has permission to create candidates","default":3,"enum":[0,3]},"shared_questions_permission":{"type":"integer","description":"Whether user has permission to view/edit/delete questions shared with it.","default":0,"enum":[0,1,2,3]},"shared_tests_permission":{"type":"integer","description":"Whether user has permission to view/edit/delete tests shared with it.","default":0,"enum":[0,1,2,3]},"shared_interviews_permission":{"type":"integer","description":"Whether user has permission to view/edit/delete interviews shared with it.","default":0,"enum":[0,1,2,3]},"shared_candidates_permission":{"type":"integer","description":"Whether user has permission to view/edit/delete candidates shared with it.","default":0,"enum":[0,1,2,3]},"company_admin":{"type":"boolean","description":"Whether the user is a company admin or not.","default":false},"team_admin":{"type":"boolean","description":"Whether the user is a team admin of the teams that it is a part of.","default":false},"teams":{"type":"array","description":"List of teams user belongs to.","items":{"$ref":"#/definitions/UserTeamCreate"}}},"required":["email","firstname","role","teams"]},"UserShow":{"title":"User","properties":{"id":{"type":"string","description":"ID of the user","default":"jox1JH13"},"email":{"type":"string","description":"Email address of user","default":"mark@example.com"},"firstname":{"type":"string","description":"First name of user","default":"Mark"},"lastname":{"type":"string","description":"last name of user","default":"Peirson"},"country":{"type":"string","description":"country of user","default":"U.S.A."},"role":{"type":"string","description":"When role is admin, it defaults to recruiter. Role of user","default":"recruiter","enum":["recruiter","developer","interviewer","admin"]},"status":{"type":"string","description":"Current status of user. While querying, by default only active users will be returned","default":"active","enum":["locked","active","all"]},"phone":{"type":"string","description":"Phone number of the user","default":"+1-202-28490"},"timezone":{"type":"string","description":"Timezone of the user","default":"America/New_York"},"questions_permission":{"type":"integer","description":"Whether user has permission to create questions","default":3,"enum":[0,3]},"tests_permission":{"type":"integer","description":"Whether user has permission to create tests","default":3,"enum":[0,3]},"interviews_permission":{"type":"integer","description":"Whether user has permission to create interviews","default":3,"enum":[0,3]},"candidates_permission":{"type":"integer","description":"Whether user has permission to create candidates","default":3,"enum":[0,3]},"shared_questions_permission":{"type":"integer","description":"Whether user has permission to view/edit/delete questions shared with it.","default":0,"enum":[0,1,2,3]},"shared_tests_permission":{"type":"integer","description":"Whether user has permission to view/edit/delete tests shared with it.","default":0,"enum":[0,1,2,3]},"shared_interviews_permission":{"type":"integer","description":"Whether user has permission to view/edit/delete interviews shared with it.","default":0,"enum":[0,1,2,3]},"shared_candidates_permission":{"type":"integer","description":"Whether user has permission to view/edit/delete candidates shared with it.","default":0,"enum":[0,1,2,3]},"company_admin":{"type":"boolean","description":"Whether the user is a company admin or not.","default":false},"team_admin":{"type":"boolean","description":"Whether the user is a team admin of the teams that it is a part of.","default":false},"teams":{"type":"array","description":"List of teams user belongs to.","items":{"type":"string"},"default":["jia12KNa"],"expandable":true},"activated":{"type":"boolean","description":"Whether the user email is activated or not.","default":false},"last_activity_time":{"type":"dateTime","description":"Timestamp when the user was last active.","default":"2026-05-11T15:51:26+0000"}},"required":["id","email","firstname","lastname","country","role","status","phone","timezone","questions_permission","tests_permission","interviews_permission","candidates_permission","shared_questions_permission","shared_tests_permission","shared_interviews_permission","shared_candidates_permission","company_admin","team_admin","teams","activated","last_activity_time"]},"UserIndex":{"title":"User","properties":{"id":{"type":"string","description":"ID of the user","default":"jox1JH13","filterable":true},"email":{"type":"string","description":"Email address of user","default":"mark@example.com","filterable":true},"firstname":{"type":"string","description":"First name of user","default":"Mark"},"lastname":{"type":"string","description":"last name of user","default":"Peirson"},"country":{"type":"string","description":"country of user","default":"U.S.A."},"role":{"type":"string","description":"When role is admin, it defaults to recruiter. Role of user","default":"recruiter","enum":["recruiter","developer","interviewer","admin"],"filterable":true},"status":{"type":"string","description":"Current status of user. While querying, by default only active users will be returned","default":"active","enum":["locked","active","all"],"filterable":true},"phone":{"type":"string","description":"Phone number of the user","default":"+1-202-28490"},"timezone":{"type":"string","description":"Timezone of the user","default":"America/New_York"},"questions_permission":{"type":"integer","description":"Whether user has permission to create questions","default":3,"enum":[0,3]},"tests_permission":{"type":"integer","description":"Whether user has permission to create tests","default":3,"enum":[0,3]},"interviews_permission":{"type":"integer","description":"Whether user has permission to create interviews","default":3,"enum":[0,3]},"candidates_permission":{"type":"integer","description":"Whether user has permission to create candidates","default":3,"enum":[0,3]},"shared_questions_permission":{"type":"integer","description":"Whether user has permission to view/edit/delete questions shared with it.","default":0,"enum":[0,1,2,3]},"shared_tests_permission":{"type":"integer","description":"Whether user has permission to view/edit/delete tests shared with it.","default":0,"enum":[0,1,2,3]},"shared_interviews_permission":{"type":"integer","description":"Whether user has permission to view/edit/delete interviews shared with it.","default":0,"enum":[0,1,2,3]},"shared_candidates_permission":{"type":"integer","description":"Whether user has permission to view/edit/delete candidates shared with it.","default":0,"enum":[0,1,2,3]},"company_admin":{"type":"boolean","description":"Whether the user is a company admin or not.","default":false,"filterable":true},"team_admin":{"type":"boolean","description":"Whether the user is a team admin of the teams that it is a part of.","default":false,"filterable":true},"teams":{"type":"array","description":"List of teams user belongs to.","items":{"type":"string"},"default":["jia12KNa"],"expandable":true,"filterable":true},"activated":{"type":"boolean","description":"Whether the user email is activated or not.","default":false,"filterable":true},"last_activity_time":{"type":"dateTime","description":"Timestamp when the user was last active.","default":"2026-05-11T15:51:26+0000"}},"required":["id","email","firstname","lastname","country","role","status","phone","timezone","questions_permission","tests_permission","interviews_permission","candidates_permission","shared_questions_permission","shared_tests_permission","shared_interviews_permission","shared_candidates_permission","company_admin","team_admin","teams","activated","last_activity_time"]},"UserRef":{"title":"User","properties":{"id":{"type":"string","description":"ID of the user","default":"jox1JH13"},"email":{"type":"string","description":"Email address of user","default":"mark@example.com"},"firstname":{"type":"string","description":"First name of user","default":"Mark"},"lastname":{"type":"string","description":"last name of user","default":"Peirson"},"country":{"type":"string","description":"country of user","default":"U.S.A."},"role":{"type":"string","description":"When role is admin, it defaults to recruiter. Role of user","default":"recruiter","enum":["recruiter","developer","interviewer","admin"]},"send_email":{"type":"boolean","description":"Whether to send activation mail to user. Please note that this should be set to false only when you are using SSO to login to HackerRank","default":true},"status":{"type":"string","description":"Current status of user. While querying, by default only active users will be returned","default":"active","enum":["locked","active","all"]},"phone":{"type":"string","description":"Phone number of the user","default":"+1-202-28490"},"timezone":{"type":"string","description":"Timezone of the user","default":"America/New_York"},"questions_permission":{"type":"integer","description":"Whether user has permission to create questions","default":3,"enum":[0,3]},"tests_permission":{"type":"integer","description":"Whether user has permission to create tests","default":3,"enum":[0,3]},"interviews_permission":{"type":"integer","description":"Whether user has permission to create interviews","default":3,"enum":[0,3]},"candidates_permission":{"type":"integer","description":"Whether user has permission to create candidates","default":3,"enum":[0,3]},"shared_questions_permission":{"type":"integer","description":"Whether user has permission to view/edit/delete questions shared with it.","default":0,"enum":[0,1,2,3]},"shared_tests_permission":{"type":"integer","description":"Whether user has permission to view/edit/delete tests shared with it.","default":0,"enum":[0,1,2,3]},"shared_interviews_permission":{"type":"integer","description":"Whether user has permission to view/edit/delete interviews shared with it.","default":0,"enum":[0,1,2,3]},"shared_candidates_permission":{"type":"integer","description":"Whether user has permission to view/edit/delete candidates shared with it.","default":0,"enum":[0,1,2,3]},"company_admin":{"type":"boolean","description":"Whether the user is a company admin or not.","default":false},"team_admin":{"type":"boolean","description":"Whether the user is a team admin of the teams that it is a part of.","default":false},"activated":{"type":"boolean","description":"Whether the user email is activated or not.","default":false},"last_activity_time":{"type":"dateTime","description":"Timestamp when the user was last active.","default":"2026-05-11T15:51:26+0000"}},"required":["id","email","firstname","lastname","country","role","send_email","status","phone","timezone","questions_permission","tests_permission","interviews_permission","candidates_permission","shared_questions_permission","shared_tests_permission","shared_interviews_permission","shared_candidates_permission","company_admin","team_admin","activated","last_activity_time"]},"SCIMUserEntryUpdate":{"title":"SCIMUserEntry","properties":{"name":{"type":"object","description":"Name of the user","default":{"familyName":"Peirson","givenName":"Mark"}},"active":{"type":"boolean","description":"Whether the user is active or not","default":true},"role":{"type":"string","description":"When role is admin, it defaults to recruiter. Role of user","default":"recruiter","enum":["recruiter","developer","interviewer","admin"]},"team_admin":{"type":"boolean","description":"Whether the user is a team admin of the teams that it is a part of.","default":false},"company_admin":{"type":"boolean","description":"Whether the user is a company admin or not","default":false},"emails":{"type":"array","description":"List of user emails","items":{"type":"string"},"default":[{"value":"mark@example.com","primary":true}]}},"required":["name","active","role","team_admin","company_admin","emails"]},"SCIMUserEntryCreate":{"title":"SCIMUserEntry","properties":{"name":{"type":"object","description":"Name of the user","default":{"familyName":"Peirson","givenName":"Mark"}},"userName":{"type":"string","description":"User name of user","default":"mark@example.com"},"active":{"type":"boolean","description":"Whether the user is active or not","default":true},"role":{"type":"string","description":"When role is admin, it defaults to recruiter. Role of user","default":"recruiter","enum":["recruiter","developer","interviewer","admin"]},"team_admin":{"type":"boolean","description":"Whether the user is a team admin of the teams that it is a part of.","default":false},"company_admin":{"type":"boolean","description":"Whether the user is a company admin or not","default":false},"emails":{"type":"array","description":"List of user emails","items":{"type":"string"},"default":[{"value":"mark@example.com","primary":true}]}},"required":["name","userName","emails"]},"SCIMUserEntryShow":{"title":"SCIMUserEntry","properties":{"id":{"type":"string","description":"ID of the user","default":"jox1JH13"},"name":{"type":"object","description":"Name of the user","default":{"familyName":"Peirson","givenName":"Mark"}},"userName":{"type":"string","description":"User name of user","default":"mark@example.com"},"active":{"type":"boolean","description":"Whether the user is active or not","default":true},"role":{"type":"string","description":"When role is admin, it defaults to recruiter. Role of user","default":"recruiter","enum":["recruiter","developer","interviewer","admin"]},"team_admin":{"type":"boolean","description":"Whether the user is a team admin of the teams that it is a part of.","default":false},"company_admin":{"type":"boolean","description":"Whether the user is a company admin or not","default":false},"emails":{"type":"array","description":"List of user emails","items":{"type":"string"},"default":[{"value":"mark@example.com","primary":true}]}},"required":["id","name","userName","active","role","team_admin","company_admin","emails"]},"SCIMUserEntryIndex":{"title":"SCIMUserEntry","properties":{"id":{"type":"string","description":"ID of the user","default":"jox1JH13"},"name":{"type":"object","description":"Name of the user","default":{"familyName":"Peirson","givenName":"Mark"}},"userName":{"type":"string","description":"User name of user","default":"mark@example.com"},"active":{"type":"boolean","description":"Whether the user is active or not","default":true},"role":{"type":"string","description":"When role is admin, it defaults to recruiter. Role of user","default":"recruiter","enum":["recruiter","developer","interviewer","admin"]},"team_admin":{"type":"boolean","description":"Whether the user is a team admin of the teams that it is a part of.","default":false},"company_admin":{"type":"boolean","description":"Whether the user is a company admin or not","default":false},"emails":{"type":"array","description":"List of user emails","items":{"type":"string"},"default":[{"value":"mark@example.com","primary":true}]}},"required":["id","name","userName","active","role","team_admin","company_admin","emails"]},"SCIMUserEntryRef":{"title":"SCIMUserEntry","properties":{"id":{"type":"string","description":"ID of the user","default":"jox1JH13"},"name":{"type":"object","description":"Name of the user","default":{"familyName":"Peirson","givenName":"Mark"}},"userName":{"type":"string","description":"User name of user","default":"mark@example.com"},"active":{"type":"boolean","description":"Whether the user is active or not","default":true},"role":{"type":"string","description":"When role is admin, it defaults to recruiter. Role of user","default":"recruiter","enum":["recruiter","developer","interviewer","admin"]},"team_admin":{"type":"boolean","description":"Whether the user is a team admin of the teams that it is a part of.","default":false},"company_admin":{"type":"boolean","description":"Whether the user is a company admin or not","default":false},"emails":{"type":"array","description":"List of user emails","items":{"type":"string"},"default":[{"value":"mark@example.com","primary":true}]}},"required":["id","name","userName","active","role","team_admin","company_admin","emails"]},"SCIMUserUpdate":{"title":"SCIMUser","properties":{"name":{"type":"object","description":"Name of the user","default":{"familyName":"Peirson","givenName":"Mark"}},"active":{"type":"boolean","description":"Whether the user is active or not","default":true},"role":{"type":"string","description":"When role is admin, it defaults to recruiter. Role of user","default":"recruiter","enum":["recruiter","developer","interviewer","admin"]},"team_admin":{"type":"boolean","description":"Whether the user is a team admin of the teams that it is a part of.","default":false},"company_admin":{"type":"boolean","description":"Whether the user is a company admin or not","default":false},"emails":{"type":"array","description":"List of user emails","items":{"type":"string"},"default":[{"value":"mark@example.com","primary":true}]}},"required":["name","active","role","team_admin","company_admin","emails"]},"SCIMUserCreate":{"title":"SCIMUser","properties":{"name":{"type":"object","description":"Name of the user","default":{"familyName":"Peirson","givenName":"Mark"}},"userName":{"type":"string","description":"User name of user","default":"mark@example.com"},"active":{"type":"boolean","description":"Whether the user is active or not","default":true},"role":{"type":"string","description":"When role is admin, it defaults to recruiter. Role of user","default":"recruiter","enum":["recruiter","developer","interviewer","admin"]},"team_admin":{"type":"boolean","description":"Whether the user is a team admin of the teams that it is a part of.","default":false},"company_admin":{"type":"boolean","description":"Whether the user is a company admin or not","default":false},"emails":{"type":"array","description":"List of user emails","items":{"type":"string"},"default":[{"value":"mark@example.com","primary":true}]}},"required":["name","userName","emails"]},"SCIMUserShow":{"title":"SCIMUser","properties":{"id":{"type":"string","description":"ID of the user","default":"jox1JH13"},"name":{"type":"object","description":"Name of the user","default":{"familyName":"Peirson","givenName":"Mark"}},"userName":{"type":"string","description":"User name of user","default":"mark@example.com"},"active":{"type":"boolean","description":"Whether the user is active or not","default":true},"role":{"type":"string","description":"When role is admin, it defaults to recruiter. Role of user","default":"recruiter","enum":["recruiter","developer","interviewer","admin"]},"team_admin":{"type":"boolean","description":"Whether the user is a team admin of the teams that it is a part of.","default":false},"company_admin":{"type":"boolean","description":"Whether the user is a company admin or not","default":false},"emails":{"type":"array","description":"List of user emails","items":{"type":"string"},"default":[{"value":"mark@example.com","primary":true}]},"schemas":{"type":"array","description":"SCIM Schema","items":{"type":"string"},"default":[]}},"required":["id","name","userName","active","role","team_admin","company_admin","emails","schemas"]},"SCIMUserIndex":{"title":"SCIMUser","properties":{"id":{"type":"string","description":"ID of the user","default":"jox1JH13"},"name":{"type":"object","description":"Name of the user","default":{"familyName":"Peirson","givenName":"Mark"}},"userName":{"type":"string","description":"User name of user","default":"mark@example.com"},"active":{"type":"boolean","description":"Whether the user is active or not","default":true},"role":{"type":"string","description":"When role is admin, it defaults to recruiter. Role of user","default":"recruiter","enum":["recruiter","developer","interviewer","admin"]},"team_admin":{"type":"boolean","description":"Whether the user is a team admin of the teams that it is a part of.","default":false},"company_admin":{"type":"boolean","description":"Whether the user is a company admin or not","default":false},"emails":{"type":"array","description":"List of user emails","items":{"type":"string"},"default":[{"value":"mark@example.com","primary":true}]},"schemas":{"type":"array","description":"SCIM Schema","items":{"type":"string"},"default":[]}},"required":["id","name","userName","active","role","team_admin","company_admin","emails","schemas"]},"SCIMUserRef":{"title":"SCIMUser","properties":{"id":{"type":"string","description":"ID of the user","default":"jox1JH13"},"name":{"type":"object","description":"Name of the user","default":{"familyName":"Peirson","givenName":"Mark"}},"userName":{"type":"string","description":"Use
[...]
